/* schools modifications */

.SI-7-11.page-node-192 .lr-nodes .lr-node .lr-inner .links a {
  padding-right: 3em;
}

.suggested p:before {
  content: '+ ';
  font-weight: bold;
}

.suggested {
  border: 1px solid #ccc;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  top: -0.5em;
}

.collapse {
  clear: both;
}

.collapse p {
  clear: both;
}

.SI-7-11 .region-sidebar li.active a,
.SI-11-14 .region-sidebar li.active a {
  color: #fff !important;
}

/* end schools */

.collapse h4,
.collapse .suggested {
  cursor: pointer;
}

#transcript-original-menu {
  position: relative;
  top: 1em;
  margin-left: 1em;
}
@media screen and (min-width: 1200px) {
  #transcript-original-menu {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  #transcript-original-menu {
    margin-left: 8px;
  }
}

/*  */
.clear {
  clear: both;
}
.region-content a {
  color: #111;
}
.field-type-text-with-summary a {
  color: #2a7fbd;
}
.region-content a:visited {
  color: #555;
}

.boxsection {
  background-color: #dedede;
  padding: 10px;
}

.boxsection.green {
  background-color: #b2dd8f;
}

.boxsection.yellow {
  background-color: #d9dd8f;
}

.boxsection.brown {
  background-color: #ddba8f;
}

.boxsection.blue {
  background-color: #8ccdf2;
}

.campl-local-footer {
  z-index: 10000000;
}

.campl-quicklinks {
  display: none !important;
}

.campl-secondary-content {
  position: absolute !important;
  right: 0;
  bottom: 0;
}

.campl-secondary-content .block-menu-block ul {
  margin: 0 !important;
  padding: 0 !important;
}

.campl-secondary-content .block-menu-block ul ul {
  padding: 15px !important;
}

.campl-secondary-content .block-menu-block li {
  list-style-type: none !important;
}

.campl-secondary-content .block-menu-block li a {
  display: block !important;
  list-style-type: none !important;
  padding: 0.5em 0 !important;
  border-bottom: 1px solid #ddd !important;
  color: #000 !important;
}

.campl-content-container .field-name-field-terms {
  display: none !important;
}

.campl-content-container .field-name-field-term-related-letters {
  display: none !important;
}

.left {
  align: left;
}

.right {
  align: right;
}

.centre {
  align: center;
}

#block-block-40 {
  width: 40%;
  float: left;
  min-height: 500px;
}

#block-block-42 {
  width: 44%;
  float: left;
}

#block-views-topics-block {
  margin-top: 3em;
}

#block-block-40 iframe {
  border: 4px solid #efefef;
}

#block-block-41 {
  width: 40%;
  float: right;
}

#block-block-43 {
  width: 86%;
  margin-left: 5%;
  padding: 2%;
}

.campl-horizontal-teaser-img .content,
.campl-vertical-teaser-img .content {
  max-height: 165px;
  overflow: hidden;
}

.view-topics .file-image .content {
  width: 80px;
  height: 80px;
  padding: 0;
  margin-right: 10px;
  float: left;
  overflow: hidden;
}

.view-topics .file-image .content img {
  max-width: auto !important;
  width: auto !important;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  top: -2px;
}

.view-topics .file-image .content .field {
  display: none !important;
}

.view-topics .views-row {
  clear: both;
  background-color: #355918;
  margin-top: 1px;
  /* @CR2018-01-24 */
  list-style-type: none;
  /*overflow:auto;*/
  height: 80px;
  line-height: 80px;
  font-size: 1.25em;
  padding: 0;
  margin-left: 0 !important;
}

.view-topics .views-row a,
.view-topics .views-row a:visited {
  color: #fff !important;
}

.bibl.box {
  /*display:none;*/
}
.library-logo {
  text-align: center;
}
.library-logo img {
  max-width: 90%;
  padding-bottom: 1em;
}

.facetSubGroup table {
  border: none !important;
}

sup.footnote.selectedFootnote {
  background-color: red !important;
  color: #fff;
}

.alcs-logo {
  text-align: left;
}
.alcs-logo img {
  max-width: 40%;
}

#footnotepopup .note_number {
  float: left;
  width: auto;
  margin-right: 10px;
}
#footnoteclose {
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  top: -4px;
  right: -9px;
}
.call-url {
  color: #ddd;
  font-size: 0.8em;
}

.letter-thumbmnail {
  position: relative;
  z-index: 0;
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 15px;
  overflow: hidden;
}

.letter-thumbmnail img {
  max-width: 200%;
  height: auto;
  position: absolute;
  left: -1em;
  top: -1em;
}

.search-result-item table {
  border-bottom: 1px solid #ddd !important;
}

.campl-secondary-content .block-menu-block.contextual-links-region ul li.leaf {
  list-style-image: none !important;
}

.campl-secondary-content
  .block-menu-block.contextual-links-region
  .campl-content-container {
  padding-top: 0.5em;
}

.campl-secondary-content
  .block-menu-block.contextual-links-region
  a.active-trail {
  font-weight: bold;
}

.campl-primary-cta:link,
.campl-primary-cta:visited {
  display: none;
  /*	background: #171717 url(../images/interface/bg-primary-cta-arrow.png) 100% 50% no-repeat; */
  background: #171717
    url(../drupal-cambridge-theme-master/images/interface/bg-primary-cta-arrow.png)
    100% 50% no-repeat;
}

.search-result-item .item-title a,
.docHit .item-title a,
.campl-teaser-title a,
#block-cudl-related-letters h3 a {
  background-image: url(../drupal-cambridge-theme-master/images/interface/bg-primary-cta-arrow-over.png);
  background-repeat: no-repeat;
  background-position: 0 3px;
  background-size: auto 20px;
  padding-left: 27px;
  display: inline-block;
}

.bibliography .item-title {
  font-style: italic;
}

#block-cudl-related-letters h3 a {
  background-position: 0 3px;
}

.js .campl-quicklinks-open .campl-quicklinks-list {
  z-index: 1000;
}

.opener h1 time {
  display: inline-block;
  font-weight: normal;
  font-size: 0.8em;
  margin-left: 2.5em;
}

/*  CSS from editor in Drupal
    ======================================== */

.campl-global-header .campl-unstyled-list,
.campl-global-header .campl-site-search {
  display: none;
}

/*.js .campl-local-navigation li:hover > ul {left: auto;}
.js .campl-local-navigation li:hover > ul {display: block;float: none;}
.js .campl-local-navigation li:hover > li{float: none;}
.js .campl-local-navigation li:hover > li > a{display: block;padding:10px 40px 10px 10px}

.js .campl-local-navigation li:hover > ul > li > ul {left: -9999px;}
.js .campl-local-navigation li:hover > ul > li:hover > ul{left: 235px;top: 0;}*/

#block-block-37 {
  background-image: url('/sites/all/themes/custom_css/img/learning-bg-green-paper.jpg');
  postion: relative;
  top: -4em;
}
#block-block-37 .campl-content-container {
  padding: 5px 15px !important;
}

#block-block-37 .campl-heading-container {
  border: none !important;
  position: relative;
  top: 1em;
}

#block-block-37 img {
  width: 100% !important;
}

#block-block-37 a {
  font-size: 1.2em;
  line-height: 1.2;
  padding: 0.5em 1em;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  background-color: #eee;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 0.5em;
}

#block-block-37 h2 {
  background-color: #4b701c;
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  padding: 0.5em 1em;
  line-height: 1.2;
  margin: 0 0 1.5em;
}

.view-id-featured td {
  width: 33% !important;
}

.front #block-block-4 {
  background-color: black;
  color: #fff;
  background-image: url(/sites/default/files/charles-darwin_with_signature.jpg);
  background-size: 100% auto;
  padding-top: 350px;
  background-repeat: no-repeat;
  position: relative;
  top: -4.5em !important;
  z-index: 10;
}
.campl-column3.campl-secondary-content {
  position: relative;
  top: -14.5em;
  z-index: 10;
}

.front .campl-column3.campl-secondary-content {
  z-index: 100;
}

.page-letter #page-secondary {
  position: relative;
  top: -8.5em;
  z-index: 10;
}

#page-content ul.campl-nav-tabs {
  /*display:none !important;*/
}

.front #block-block-4 a {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}
.region-sidebar .view-my-sidebar .field-content {
  padding: 10px 5%;
}
#block-search-form {
  padding: 15px 20px;
  background: #4b701c;
}
#block-search-form .form-text {
  font-size: 1.6em;
  padding: 10px;
  width: 50%;
  position: relative;
  top: 3px;
}
#block-search-form .form-submit {
  font-size: 1.6em;
  padding: 10px;
  position: relative;
  top: 3px;
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
}
.campl-recessed-sub-title,
.campl-page-sub-title {
  background-color: #fff !important;
  color: #000;
}
.campl-recessed-sub-title h1 {
  color: #000;
}
.search-info {
  display: none;
}
.field-name-field-image {
  padding: 0 20px;
}
.field-name-field-image .campl-scale-with-grid {
  width: 100%;
}
.content img.left {
  float: left;
  clear: left;
  margin: 0 2em 1em 0;
  display: block;
}
.content img.right {
  float: right;
  clear: right;
  margin: 0 0 1em 2em;
  display: block;
}
.content hr {
  margin: 2em 0;
  clear: both;
}
.content p {
  font-size: 1.4em;
}
.meet-people td {
  max-width: 25%;
}
.meet-people .file-image .content {
  border: 20px solid white;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  background-color: #eee;
}
.meet-people .file-image img {
  height: auto;
  max-width: 120%;
  width: 120%;
  position: relative;
  left: -10%;
  top: -5%;
}
.meet-people .field-name-field-file-caption,
.meet-people .field-name-field-file-identifier,
.meet-people .field-name-field-credit,
.meet-people .field-name-field-file-reference,
.meet-people .field-name-field-file-copyright {
  display: none;
}

/*  End
    ======================================== */

.campl-global-header .campl-unstyled-list,
.campl-global-header .campl-site-search {
  display: none;
}
.front #block-block-4 {
  background-color: black;
  color: #fff;
  background-image: url(/sites/default/files/charles-darwin_with_signature.jpg);
  background-size: 100% auto;
  padding-top: 305px;
  background-repeat: no-repeat;
  position: relative;
}
.front #block-block-4 a {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}
.region-sidebar .view-my-sidebar .field-content {
  padding: 10px 5%;
}
#block-search-form,
#darwin-search-block-form {
  padding: 15px 20px;
  background: #4b701c;
}

#block-search-form {
  display: none;
}
#block-search-form .form-text,
#darwin-search-block-form .form-text {
  /*
    font-size:1.6em;
    padding:10px;
    width:50%;
    position:relative;
    top:3px;
  */
  width: 50%;
  position: relative;
  top: 3px;
  padding: 0px 10px;
  line-height: 40px !important;
  height: 41px;
  font-size: 1.2em;
}
#block-search-form .form-submit,
#darwin-search-block-form .form-submit {
  /*
    font-size:1.6em;
    padding:10px;
    position:relative;
    top:3px;
    background-color:#000;
    border:2px solid #000;
    color:#FFF;
  */
  font-size: 1.6em;
  padding: 0px 10px;
  position: relative;
  top: 5px;
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  line-height: 40px;
}

.results td.facet {
  padding-right: 10%;
}

.resultsHeader .right {
  /*display:none;*/
}

/*.resultsHeader form{
	display:none;
}*/
.subQuery a {
  display: none;
}
.col1 {
  display: none;
}

.col1 b {
  font-weight: normal;
}

.campl-recessed-sub-title,
.campl-page-sub-title {
  background-color: #fff !important;
  color: #000;
}
.campl-recessed-sub-title h1 {
  color: #000;
}
.search-info {
  display: none;
}
.field-name-field-image {
  padding: 0 20px;
}

.field-name-field-credit .field-items a div {
  display: inline-block;
  margin-right: 10px;
}

.campl-horizontal-teaser-img .field-name-field-image,
.campl-vertical-teaser-img .field-name-field-image {
  padding: 0px !important;
}

.campl-teaser .file-image .content .field {
  display: none;
}

.campl-side-padding .campl-teaser-divider {
  border: none !important;
}

.campl-side-padding .campl-teaser-divider hr {
  display: none;
}
.field-name-field-image .campl-scale-with-grid {
  width: 100%;
}
.content hr {
  margin: 2em 0;
  clear: both;
}
.content p,
.content li {
  font-size: inherit;
  line-height: 1.5;
  margin: 1em 0;
  /* 	color: #304220; */
  color: #222;
}
.campl-theme-4 .campl-main-content h1,
.campl-theme-4 .campl-main-content h2 {
  color: #222;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin: 1em 0;
  color: #304220;
  line-height: 1.2;
}
.content ul,
.content ol {
  margin: 1em 0;
  padding-left: 2em;
}
.campl-local-footer p {
  color: #fff;
}
.content .box,
.translation {
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  padding: 0.1em 1.5em 0.5em;
  /*margin: 2em 0;*/
}
.translation h2 {
  margin-top: 0 !important;
}

.box.promo {
  width: 40% !important;
  float: left;
  margin-right: 4%;
}

.SI-11-14 .box.promo {
  background-image: url(../../static/offer/lightBackground.png);
}

.leftpromo {
  clear: left;
  float: left;
}

.rightpromo {
  clear: right;
  float: right;
}

.box.promo img {
  max-width: 100%;

  height: auto !important;
}

.content .box:last-child {
  margin-bottom: 0;
}
.people h3 {
  margin-top: 1em;
  margin-bottom: 0.2em;
}
.content blockquote,
.teiquote,
.quote {
  border-left: none !important;
  padding-left: 3em;
  background-position: 1em 5px;
  font-size: 1.1em;
  display: block;
}

span.smallCaps {
  font-variant: small-caps;
}

span.underline,
span.print {
  font-style: italic;
}

span.doubleUnderline {
  font-weight: bold;
}

.teiquote,
.quote {
  /*font-style:italic;*/
  font-size: 1em;
  padding-left: 5em;
}
.content blockquote p {
  float: none;
}
.first-stanza {
  font-size: 1.2em;
}
.region-sidebar a,
.region-sidebar a:visited {
  color: #0072cf;
}
.campl-secondary-content {
  background-color: #f7f5f0;
}
.view-my-sidebar h3:first-child {
  margin-top: 5px;
}
.view-my-sidebar h3 {
  background-color: #4b701c;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  padding: 0.5em 1em;
  line-height: 1.2;
  margin: 1.5em 0;
}
.view-my-sidebar h3 strong {
  font-weight: normal;
}
.view-my-sidebar h2 {
  background-color: #4b701c;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  padding: 0.5em 1em;
  line-height: 1.2;
  margin: 1.5em 0;
}
.view-my-sidebar #terms h3 {
  background-color: transparent;
  color: #111;
  font-weight: bold;
  /* 	padding: 0; */
  border-bottom: 1px solid #ddd;
}
.view-my-sidebar #terms ul {
  margin-bottom: 1.5em;
  list-style-type: none;
  margin-left: 0;
  /*     border-bottom: 1px solid #ddd; */
  /*     padding-bottom: 1em; */
}
.view-my-sidebar #terms div:last-child ul {
  /* 	border-bottom: none; */
  margin-bottom: 0;
  padding-bottom: 0.5em;
}
.view-my-sidebar #terms div:not(.scientific-terms):not(.tag) ul {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}
.view-my-sidebar #terms ul li {
  display: block;
  margin-bottom: 0.8em;
}

/**
 * @CR2017-04-24 - duplicate correspondent names
 * restyle "terms"
 */
.view-my-sidebar #terms ul {
  text-align: right;
  font-style: italic;
}
.view-my-sidebar #terms ul li {
  margin-bottom: 0.2em;
}

.view-my-sidebar #terms ul li a {
  /*display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;
	font-weight: bold;
	background-color: #fff;
	color: #506436;
	padding: 0.5em 0.5em;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	border-radius: 3px 3px 3px 3px;
	line-height: 1.2;
	hyphens: auto;
	-moz-hyphens: auto;
	*/
  color: #333;
}
.view-my-sidebar #terms ul li a:hover {
  /*
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-decoration: none;
  */
  background-color: #4b701c;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 1px 1px transparent;
}
.view-my-sidebar img {
  max-width: 100%;
}
.view-my-sidebar img {
  height: auto !important;
}
.view-my-sidebar p {
  font-size: 1em;
  margin: 1em 0;
  line-height: 1.5;
}
.view-my-sidebar p a {
  /*white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis;
	display: block;*/
}

.contextual-links-region li {
  list-style: none;
  z-index: 1;
}

.contextual-links-region .views-field-title {
}

.field-name-field-file-copyright,
.field-name-field-file-caption,
.field-name-field-file-identifier,
.field-name-field-credit,
.field-name-field-file-reference {
  font-size: 0.65em;
  color: #666;
  margin: 0;
  line-height: 1.2;
}

.field-name-field-credit .field-name-field-file-copyright {
  font-size: 1em !important;
}

.field-name-field-file-caption {
  color: #333;
}

.imagecell img {
  float: none !important;
}

.codes-explanation {
  font-size: 0.85em;
  display: inline-block;
  margin-left: 10px;
}

.page-node.not-front .field-name-field-image .content {
  margin-top: 1em !important;
}

.view-id-correspondents {
  width: 90%;
  padding-left: 3%;
}

.view-id-correspondents table {
  width: 100%;
  border-bottom: 1px solid #aaa;
}

.view-id-correspondents table td {
  text-align: center;
  width: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content img.left,
.content img.right {
  float: none;
  clear: both;
  margin: 0 auto 1em;
  display: block;
}
.page-letter h1.campl-sub-title {
}
.page-letter .letter .opener h1 {
  margin-top: 0;
}
/**
 * @PC2016-10-28 - using Mike's markup
 * place the border around the inner content instead
 * also move the usual "campl-content-container" padding
 */
.page-letter #block-cudl-cudl {
  /*
  border: 3px solid #eee;
  */
  padding: 0;
  border: none;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 1em;
}
.page-letter
  #block-cudl-cudl
  .cudl_single
  > #cudl_content_container
  > .letter
  .body,
.page-letter
  #block-cudl-cudl
  .cudl_single
  > #cudl_content_container
  > .translation {
  border: 3px solid #eee;
  padding: 20px;
}
/*.page-letter .letter .opener h1 {*/
/*display: none;*/
/*}*/
/*.page-letter .letter .opener,*/
.page-letter .letter .annotations,
.page-letter .letter .footnotes {
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  padding: 0 20px;
  margin: 2em 0;
}

.page-letter #letter-extras {
  margin-left: 8px;
  margin-right: 8px;
}
.page-letter .footnote {
  overflow: hidden;
  margin-bottom: 1.5em;
}
/* @CR2017-09-22 */
.page-letter .footnote div:not(.note_number) a {
  color: #0072cf;
  text-decoration: underline;
}
.page-letter .footnote div {
  line-height: 1.5;
}
.page-letter .footnote .note_number {
  margin-right: 1em;
  float: left;
}
.page-letter .provenance {
  margin-bottom: 0.5em;
}
.page-letter .provenance .material-icons {
  font-size: 1em;
  position: relative;
  top: 1px;
}
.page-letter .provenance .label {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  background-color: #555;
  color: #fff;
  padding: 0 0.5em;
  border-radius: 3px 3px 3px 3px;
  font-size: 0.9em;
  margin-right: 1em;
}
.page-letter .opener h2 {
  font-size: 1.2em;
  font-weight: normal;
}

.snippets li {
  colour: #000 !important;
}
.annotations div {
  margin-bottom: 1em;
  line-height: 1.5;
}
#letter_details dl > span {
  overflow: hidden;
  margin-bottom: 0.5em;
  display: block;
}
#letter_details .material-icons {
  float: left;
  margin-right: 1em;
  padding-top: 1px;
  color: #888;
}

.page-letter sup.footnote,
.note_number {
  background-color: #fafafa;
  padding: 1px 0.5em 2px;
  margin: 0 0.2em;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #ddd;
  border-bottom-color: #bbb;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s linear;
  cursor: pointer;
}
.page-letter h1 sup.footnote {
  font-size: 40%;
}
.page-letter a.footnotelink {
  color: #333;
}
.page-letter sup.footnote:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0);
  border-color: #bbb;
}
.portrait-image {
  max-height: 350px;
  overflow: hidden;
  max-width: 100%;
}
.portrait-image img {
  width: 100%;
  padding-top: 100px;
}
.capitalize {
  text-transform: capitalize;
}
.id .capitalize {
  text-transform: uppercase;
}
.bibliography-page .id,
.bibliography-page .checked {
  display: none;
}
span.hit {
  display: inline-block;
  background-color: yellow;
}
.search-results-page #page-secondary .facet table {
  width: 100%;
  /* 	border-bottom: none; */
}
.search-results-page #page-secondary .facet table tbody {
  border-top: none;
}
.search-results-page #page-secondary .facet table tbody,
.search-results-page #page-secondary .facet table th,
.search-results-page #page-secondary .facet table td {
  background-color: transparent;
}
.search-results-page #page-secondary .facet table td {
  color: #666;
}
.search-results-page #page-secondary .facet table td a {
  color: #506436;
}
.search-results-page #page-secondary .facet table td.col2 {
  padding-left: 5px;
}
.search-results-page #page-secondary .facet table td.col3 {
  text-align: right;
  padding-right: 5px;
}
.search-results-page #page-secondary .facet table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.8);
}
.search-results-page #page-secondary .facet table tr:first-child td {
  /* 	padding-top: 0.5em; */
}
.search-results-page #page-secondary .facet table tr:last-child td {
  padding-bottom: 0.5em;
}
.search-results-page #page-secondary .facet > .facet {
  margin-bottom: 2em;
}
.search-results-page #page-secondary .facet .facetName {
  font-weight: bold;
  background-color: transparent;
  color: #111;
  padding-bottom: 0.5em;
  overflow: hidden;
}
.search-results-page #page-secondary .facetMore {
  /* 	margin: 0.5em 0 0; */
  float: right;
}
.search-results-page #page-secondary .facetLess {
  /* 	margin: 0 0 0.8em; */
  float: right;
}
.search-results-page #page-secondary .facetMore a,
.search-results-page #page-secondary .facetLess a {
  font-style: normal;
  font-weight: bold;
  font-size: 0.8em;
  color: #666;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px 4px 4px 4px;
  padding: 2px 8px;
}
.search-results-page #page-secondary .facetMore a:hover,
.search-results-page #page-secondary .facetLess a:hover {
  color: #111;
  text-decoration: none;
}

.search-results-page .search-result-item {
  margin: 1em 0 2em;
  padding: 0.5em 1.5em;
  background-color: #f4f4f4;
  /* 	border: 1px solid #ddd; */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.search-results-page .search-result-item h2 {
  font-size: 1.8em;
  margin: 1em 0;
}
.search-results-page .search-result-item h2 a {
  color: #111;
}
.search-results-page .search-result-item table {
  background-color: #fff;
  width: 100%;
  margin-top: 8px;
}
.search-results-page .this-site-result-wrap .summary {
  float: none;
  width: auto;
  clear: left;
}
.search-results-page .search-result-item table td {
  padding: 2px 5px;
}
.search-results-page .search-result-item .snippets {
  transition: max-height 0.3s linear 0s;
  overflow: hidden;
}
.search-results-page .search-result-item .show-more-matches {
  font-style: normal;
  font-weight: bold;
  font-size: 0.9em;
  color: #666;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 8px;
  margin: 1em 0;
}

.search-results-page .this-site .facetName {
  display: none;
}
.search-results-page .search-result-item .show-more-matches .less {
  display: none;
}
.search-results-page
  .search-result-item
  .show-more-matches.toggle-unhidden
  .less {
  display: inherit;
}
.search-results-page
  .search-result-item
  .show-more-matches.toggle-unhidden
  .more {
  display: none;
}
.search-results-page .search-result-item .matches {
  padding-top: 1em;
}
.search-results-page .search-result-item .matches h3 {
  font-size: 1.1em;
}
.search-results-page .search-result-item h2.item-title {
  float: left;
  max-width: calc(100% - 5em);
  width: calc(100% - 5em);
  margin-top: 0.5em;
}
.search-results-page .search-result-item .main-icon {
  float: right;
  text-align: center;
  overflow: hidden;
}

.search-results-page .bibliography .matches {
  display: none;
}

.this-site-result-wrap {
  width: 75%;
  float: left;
}

.search-results-page .main-icon.hasImage .material-icons {
  visibility: hidden;
}
.search-results-page .main-icon.hasImage span {
  color: #000;
  text-shadow: 1px 1px 0 #fff;
}
.search-results-page .search-result-item.letter .clear {
  clear: none;
  display: none;
}
.search-results-page .search-result-item.bibliography .clear {
  clear: both;
  display: block;
}
.search-results-page .search-result-item. .summary {
  float: left;

  padding-left: 1em;
}
.search-results-page .search-result-item .summary h3 {
  display: none;
}
.search-results-page .search-result-item .main-icon i.material-icons {
  color: #ccc;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
  font-size: 2.5em;
  margin-top: 0.2em;
}
.search-results-page .search-result-item .main-icon span {
  display: block;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #bbb;
  position: relative;
  top: -7px;
}
.search-results-page .search-result-item .snippets ul {
  margin-left: 0;
}
.search-results-page .search-result-item .snippets li {
  list-style-type: none;
  background-color: #fff;
  padding: 1px 15px;
  border: none;
  border-left: 8px solid #0088cc;
  margin: 0 0 0.5em;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.search-results-page .search-result-item .snippets li a {
  color: #2a7fbd;
}
.search-results-page .search-result-item .matches {
  overflow: hidden;
  clear: both;
}
.search-results-page .search-result-item .read-more {
  display: block;
  background-color: #0088cc;
  color: #fff;
  padding: 3px 10px 4px 15px;
  float: right;
  margin: 8px 0;
}
.search-results-page .search-result-item .read-more .material-icons {
  font-size: 1.4em;
  line-height: 12px;
  position: relative;
  top: 4px;
}
.search-results-page .pages {
  margin: 1em 0 1.5em;
  font-weight: bold;
}
.search-results-page .pages a {
  margin: 0 5px 0 5px;
  padding: 2px 10px;
  background-color: #f8f8f8;
  border: 1px solid #eee;
}
.search-results-page .contents {
  margin-bottom: 1.5em;
}
h3.campl-teaser-title {
  font-size: 1.4em;
}

@media screen and (min-width: 768px) {
  /**
   * @PC2016-10-28 - using Mike's markup
   * place the border around the inner content instead
   * also move the usual "campl-content-container" padding
   */
  .page-letter #block-cudl-cudl {
    /*
    border: 5px solid #eee;
    */
    margin-left: 1em;
    margin-right: 2em;
  }
  .page-letter
    #block-cudl-cudl
    .cudl_single
    > #cudl_content_container
    > .letter
    .body,
  .page-letter
    #block-cudl-cudl
    .cudl_single
    > #cudl_content_container
    > .translation {
    border: 5px solid #eee;
  }

  .page-letter #letter-extras {
    margin-right: 2em;
    margin-left: 1em;
  }
  .portrait-image {
    /* override for portrait images, if needed */
  }

  /* @PC005 - Change IMAGE field to FILE field, added ".not-front" */
  .page-node.not-front .field-name-field-image .content {
    float: right;
    margin: 3em 0 3em 3em;
    max-width: 47%;
  }
  .small-image {
  }
}

@media screen and (min-width: 1025px) {
  .content {
    font-size: 1.2em;
  }
  .content p.first-stanza {
    font-size: 1.2em;
  }
  .content h1 {
    font-size: 2.1em;
  }
  .content h2 {
    font-size: 1.9em;
    margin: 1em 0;
  }
  .content h3 {
    font-size: 1.7em;
    margin: 1em 0;
  }
  .content h4 {
    font-size: 1.3em;
    margin: 1em 0;
  }
  .content h5 {
    font-size: 1.1em;
    margin: 1em 0;
  }
  .content h6 {
    font-size: 1em;
    margin: 1em 0;
  }
  .content blockquote {
    font-size: 1.1em;
    padding-right: 3em;
    margin-left: 1em;
  }
  h1.campl-sub-title {
    font-size: 2.6em;
  }
  .content img.left {
    float: left;
    clear: left;
    margin: 0 2em 1em 0;
    display: block;
  }
  .content img.right {
    float: right;
    clear: right;
    margin: 0 0 1em 2em;
    display: block;
  }
  .portrait-image {
    /* override for portrait images, if needed */
  }
  .front #block-block-4 {
    background-color: black;
    color: #fff;
    background-image: url(/sites/default/files/charles-darwin_with_signature.jpg);
    background-size: 100% auto;
    padding-top: 350px;
    background-repeat: no-repeat;
    position: relative;
    top: -10em;
    z-index: 100;
  }
}
@media screen and (min-width: 1200px) {
  .page-letter #block-cudl-cudl {
    margin-left: 0;
  }
  .portrait-image {
    /* override for portrait images, if needed */
  }
  .page-letter #letter-extras {
    margin-left: 0;
  }
}

/*  --------- SCHOOLS ----------- */

.SI-7-11 .campl-content a,
.SI-11-14 .campl-content a,
.SI-7-11 .campl-content a:visited,
.SI-11-14 .campl-content a:visited {
  color: #0072cf;
}
.SI-11-14 .campl-content .campl-global-footer a,
.SI-11-14 .campl-content .campl-local-footer a,
.SI-11-14 .campl-content .campl-global-footer a:visited,
.SI-11-14
  .campl-content
  .campl-local-footer
  a:visited.
  .SI-7-11
  .campl-content
  .campl-global-footer
  a,
.SI-7-11 .campl-content .campl-local-footer a,
.SI-7-11 .campl-content .campl-global-footer a:visited,
.SI-7-11 .campl-content .campl-local-footer a:visited {
  color: #fff;
}

/* @CR2017-02-10 */
.SI-11-14 .campl-secondary-content,
.SI-7-11 .campl-secondary-content {
  top: -6.3em !important;
  postion: relative;
}
/*
.SI-7-11 .campl-secondary-content{
	top:-6em !important;
	z-index:100 !important;
}
*/
.node-type-learning-resources.SI-11-14 .campl-secondary-content,
.node-type-learning-resources.SI-7-11 .campl-secondary-content {
  top: -3.3em !important;
}

.SI-7-11 .region-sidebar .campl-heading-container h2,
.SI-11-14 .region-sidebar .campl-heading-container h2 {
  padding-top: 1em;
}
.SI-7-11 .campl-content,
.SI-11-14 .campl-content {
  background-color: #fff;
}

.SI-7-11 .campl-content-container .field-name-body .field-item h3 {
  font-weight: normal;
  font-size: 1.2em;
}
.SI-7-11.SI-darwin-the-collector .campl-main-content .block-block {
  background-image: url('http://darwinproject.ac.uk.gridhosted.co.uk/sites/all/themes/custom_css/img/learning-bg-green-paper.jpg');
}
.SI-7-11 .campl-main-content .block-block {
  background-image: url('http://darwinproject.ac.uk.gridhosted.co.uk/sites/all/themes/custom_css/img/learning-bg-red-paper.jpg');
}
.SI-7-11.SI-darwin-and-evolution .campl-main-content .block-block {
  background-image: url('http://darwinproject.ac.uk.gridhosted.co.uk/sites/all/themes/custom_css/img/learning-bg-beige-paper.jpg');
}

.SI-7-11 .campl-secondary-content .region-sidebar {
  background-color: rgba(255, 255, 255, 0.2);
}

.SI-7-11 #block-block-33,
.SI-11-14 #block-block-42 {
  background-image: url('http://darwinproject.ac.uk.gridhosted.co.uk/sites/all/themes/custom_css/img/learning-bg-green-paper.jpg');
}

.SI-7-11 #block-block-35,
.SI-11-14 #block-block-43 {
  background-image: url('http://darwinproject.ac.uk.gridhosted.co.uk/sites/all/themes/custom_css/img/learning-bg-beige-paper.jpg');
}
.SI-7-11 #block-block-36 {
  background-image: url('http://darwinproject.ac.uk.gridhosted.co.uk/sites/all/themes/custom_css/img/learning-bg-blue-paper.jpg');
}

.SI-7-11 #block-darwin-search-darwin-search,
.SI-11-14 #block-darwin-search-darwin-search {
  display: none;
}

.SI-7-11 h1.campl-sub-title,
.SI-7-14 h1.campl-sub-title {
  margin-bottom: 0em;
}
.SI-7-11 .campl-recessed-content .campl-content-container {
  font-size: 120%;
  padding-top: 0;
}
.SI-11-14 .campl-recessed-content .campl-content-container {
  font-size: 110%;
  padding-top: 0;
}
.SI-7-11 .campl-heading-container,
.SI-11-14 .campl-heading-container {
  border: none !important;
}
.SI-7-11 .campl-recessed-content,
.SI-11-14 .campl-recessed-content {
  padding-top: 3em;
}
.SI-7-11 .campl-content-container p,
.SI-11-14 .campl-content-container p {
  line-height: 1.5;
}
.SI-7-11 .campl-content-container ul {
}
.SI-7-11 .campl-content-container li {
  margin-bottom: 1em;
}
.SI-11-14 .campl-content-container li,
.SI-11-14 .campl-content-container h1,
.SI-11-14 .campl-content-container h2,
.SI-11-14 .campl-content-container h3,
.SI-11-14 .campl-content-container h4,
.SI-11-14 .campl-content-container h5,
.SI-11-14.campl-content-container h6,
.SI-7-11 .campl-content-container li,
.SI-7-11 .campl-content-container h1,
.SI-7-11 .campl-content-container h2,
.SI-7-11 .campl-content-container h3,
.SI-7-11 .campl-content-container h4,
.SI-7-11 .campl-content-container h5,
.SI-7-11 .campl-content-container h6 {
  line-height: 1.2;
}
.SI-11-14. .campl-content-container h2,
.SI-11-14. .campl-content-container h3,
.SI-11-14. .campl-content-container h4,
.SI-11-14. .campl-content-container h5,
.SI-11-14. .campl-content-container h6,
.SI-7-11 .campl-content-container h2,
.SI-7-11 .campl-content-container h3,
.SI-7-11 .campl-content-container h4,
.SI-7-11 .campl-content-container h5,
.SI-7-11 .campl-content-container h6 {
  margin: 1em 0;
}
.SI-7-11 .region-sidebar li,
.SI-11-14 .region-sidebar li {
  margin-bottom: 1em;
}
.SI-7-11 .imageholder.align-center,
.SI-11-14 .imageholder.align-center {
  text-align: left;
  margin-bottom: 2em;
}
.SI-7-11 .imageholder.align-center img {
  width: 70%;
  max-width: 400px;
}
.SI-7-11 .button,
.SI-11-14 .button {
  font-size: 1.2em;
  line-height: 1.2;
  padding: 0.5em 1em 1em;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  background-color: #eee;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 0.5em;
  cursor: pointer;
}
.SI-7-11 h3.button,
.SI-11-14 h3.button {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: relative;
  top: -1em;
  margin-left: 1em !important;
  float: right;
  padding-left: 40px;
  background-image: url('img/info-alt.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 5% 50%;
}
.SI-7-11 h3.button a,
.SI-11-14 h3.button a {
  font-style: normal;
}
.SI-7-11 .button .material-icons,
.SI-11-14 .button .material-icons {
  font-size: 1.2em;
  line-height: inherit;
  position: relative;
  top: 4px;
  margin-right: 5px;
}
.SI-7-11 .list-item a,
.SI-11-14 .list-item a {
  color: #111;
}
.SI-7-11 .list-item a:hover,
.SI-11-14 .list-item a:hover {
  text-decoration: none;
}
.SI-7-11 .list-item .button .material-icons,
.SI-11-14 .list-item .button .material-icons {
  margin-left: 5px;
  margin-right: 0;
}
.SI-7-11 .view-my-sidebar .side-nav,
.SI-11-14 .view-my-sidebar .side-nav {
  list-style-type: none;
  margin-left: 0;
}
.SI-7-11 .view-my-sidebar hr,
.SI-11-14 .view-my-sidebar hr {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
.SI-7-11 .timeline-link .image {
  overflow: hidden;
  height: 10em;
}
.SI-7-11 .timeline-link {
  position: relative;
  display: block;
  margin-bottom: 2em;
}
.SI-7-11 .timeline-link h4,
.SI-11-14 .timeline-link h4 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #111;
  padding: 20px 15px 10px;
  margin: 0;
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.75) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(100%, rgba(255, 255, 255, 0.75))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.75) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.75) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.75) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.75) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#bfffffff',GradientType=0 );
}
.SI-7-11 .view-my-sidebar .side-nav li a,
.SI-7-11 .region-sidebar li a,
.SI-11-14 .region-sidebar li a {
  font-size: 1.2em;
  line-height: 1.2;
  padding: 0.5em 1em !important;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  background-color: #eee;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 0.5em;
}
.SI-7-11 .region-sidebar ul,
.SI-11-14 .region-sidebar ul {
  list-style-type: none !important;
  list-style: none !important;
  padding-left: 0;
  margin-left: 0;
}
.SI-7-11 .region-sidebar ul li,
.SI-11-14 .region-sidebar ul li {
  list-style-image: none !important;
  list-style: none !important;
}
.SI-7-11 .region-sidebar li.active a,
.SI-11-14 .region-sidebar li.active a {
  background-color: #3c72cf;
  color: #fff;
}
.SI-7-11 .block-block .file-image,
.SI-11-14 .block-block .file-image {
  margin-bottom: 0.5em;
}
.SI-7-11 .block-block .file-image img,
.SI-11-14 .block-block .file-image img {
  max-width: 100%;
}
.SI-7-11 .campl-main-content .block-block h2,
.SI-11-14 .campl-main-content .block-block h2,
.SI-11-14 .box.promo h3 {
  background-color: #4b701c;
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  padding: 0.5em 1em;
  line-height: 1.2;
  margin: 0 0 1.5em;
}

.SI-11-14 .box.promo h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.SI-11-14 .box.promo h3.topic-english {
  background-color: blue;
}

.SI-11-14 .box.promo h3.topic-religion {
  background-color: purple;
}

.SI-11-14 .box.promo h3.topic-science {
  background-color: green;
}

.SI-11-14 .box.promo h3.topic-history {
  background-color: yellow;
}

.SI-11-14 .box.promo h3.topic-history a {
  color: black;
}

.SI-11-14 .box.promo h3.topic-cross {
  background-color: orange;
}

.SI-11-14 .box.promo h3 a {
  color: #fff;
}

.SI-7-11 .region-content .block-block:first-child h2,
#block-block-10 h2,
#block-block-22 h2,
#block-block-23 h2 {
  background-color: #dc8a14;
}
.SI-7-11 .campl-main-content .block-block,
.SI-11-14 .campl-main-content .block-block {
  text-align: left;
}
.SI-7-11 .campl-main-content .block-block,
.SI-11-14 .campl-main-content .block-block {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px 1%;
}
.SI-7-11 .block-block .campl-content-container,
.SI-11-14 .block-block .campl-content-container {
  padding: 0px !important;
}
.SI-7-11 .grid-item a {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  display: block;
}
.SI-7-11 .grid-item a,
.SI-11-14 .grid-item a {
  display: block;
  color: #111;
}
.SI-7-11 .grid-item a:hover,
.SI-11-14 .grid-item a:hover {
  text-decoration: none;
}
.SI-7-11 .campl-main-content .block-block p a,
.SI-11-14 .campl-main-content .block-block p a {
  float: right;
  max-width: 36%;
  margin-right: 1%;
  font-size: 1.2em;
  padding: 0 0.5em;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  background-color: #eee;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 0.5em;
  color: #111;
}

body .remodal {
  text-align: left;
  padding: 1.5em;
}
.remodal iframe {
  width: 100%;
}
.collapse h4 a {
  color: #111;
  display: block;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.5em 1em;
}
.learning-landing-page .campl-secondary-content,
.learning-listing .campl-secondary-content {
  display: none !important;
}
.learning-landing-page .campl-main-content,
.learning-listing .campl-main-content {
  width: 100% !important;
}
.listing-holder {
  overflow: hidden;
}

@media screen and (max-width: 759px) {
  body.SI-7-11 .remodal {
    font-size: 80%;
  }
  .SI-7-11 .learning-listing .list-item {
    font-size: 60%;
  }
}
@media screen and (max-width: 767px) {
  .campl-main-logo {
    margin-left: 0;
    left: 5%;
  }
  .campl-open-menu {
    visibility: hidden !important;
  }
  .meet-people .file-image .content {
    border: 5px solid white;
  }
  .campl-secondary-content {
    position: static !important;
  }
  .front #block-block-4 {
    position: static !important;
    padding-top: 400px;
  }
  .view-id-featured tr,
  .view-id-featured td {
    width: auto;
    display: inline;
  }
  #block-block-40,
  #block-block-41 {
    width: auto;
    float: none;
  }
}
@media screen and (min-width: 760px) {
  .SI-7-11 .campl-main-content .block-block .file-image,
  .SI-11-14 .campl-main-content .block-block .file-image {
    width: 50%;
    float: left;
    margin-bottom: 0.5em;
    margin-right: 1em;
  }
  .SI-7-11 .learning-listing .list-item .padding,
  .SI-11-14 .learning-listing .list-item .padding {
    padding: 1.5em 1.5em;
  }
}
@media screen and (min-width: 900px) {
  .SI-7-11 .campl-main-content .block-block,
  .SI-11-14 .campl-main-content .block-block {
    width: 46%;
    float: left;
    margin-bottom: 2em;
  }
  .SI-7-11 .campl-main-content .block-block:nth-child(odd),
  .SI-11-14 .campl-main-content .block-block:nth-child(odd) {
    margin-left: 1%;
    clear: right;
  }
  .SI-7-11 .campl-main-content .block-block:nth-child(even),
  .SI-11-14 .campl-main-content .block-block:nth-child(even) {
    margin-right: 1%;
    clear: left;
  }

  body.SI-7-11 .remodal,
  body.SI-11-14 .remodal {
    padding: 3em;
  }
  .SI-7-11 .campl-main-content .block-block .file-image,
  .SI-11-14 .campl-main-content .block-block .file-image {
    max-width: 200px;
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
  }
}

/**
 * @CR2017-09-25 - hook to auto-generate thumbnails for "In This Section" menu
 */
.campl-secondary-content .menu-block-3 .block-menu-block li a {
}
/*
.menu-block-3 .with-rh-icon {
	border-spacing: 0;
	padding: 0;
	margin: 0;
	border-bottom: none !important;
	background: transparent;
}
.menu-block-3 .with-rh-icon tbody {
	border: none;
}
.menu-block-3 .with-rh-icon td {
	background: transparent;
	border: none;
	padding: 0;
	vertical-align: middle;
}
.menu-block-3 .with-rh-icon .img {
	width: 48px;
}
.menu-block-3 .with-rh-icon .img img {
	display: block;
	max-width: 100%;
}
*/

.campl-secondary-content .menu-block-3 > ul > li.with-rh-icon > a {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  min-height: 42px;
  padding: 0 !important;
  border: none !important;
  padding-left: 8px !important;
}
.campl-secondary-content .menu-block-3 > ul > li.with-rh-icon {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  min-height: 42px;
  position: relative;
  padding: 2px 0 2px 42px;
  border-bottom: 1px solid #ddd !important;
  /*}*/
  /*.campl-secondary-content .menu-block-3 > ul > li.with-rh-icon:before {*/
  /*position: absolute;*/
  /*top: 0; left: 0;*/
  /*width: 42px; height: 42px;*/
  background-size: 42px 42px;
  background-position: left 2px;
  background-repeat: no-repeat;
}

.campl-secondary-content .menu-block-3 > ul > li.with-rh-icon.active-trail > a {
  /*background-color: #355918;*/
  /*color: #fff !important;*/
  font-weight: bold;
}

.campl-secondary-content .menu-block-3 > ul > li.with-rh-icon:before {
  position: absolute;
  content: '';
  top: 21px;
  left: -10px;
  width: 7px;
  height: 7px;
  background-size: 7px 7px;
  background-position: left top;
  background-repeat: no-repeat;
}
.campl-secondary-content .menu-block-3 > ul > li.with-rh-icon.collapsed:before {
  background-image: url(../../../../misc/menu-collapsed.png);
}
.campl-secondary-content .menu-block-3 > ul > li.with-rh-icon.leaf:before {
  /*background-image: url(../../../../misc/menu-leaf.png);*/
}
.campl-secondary-content .menu-block-3 > ul > li.with-rh-icon.expanded:before {
  background-image: url(../../../../misc/menu-expanded.png);
}

.campl-secondary-content .block-menu-block .menu-block-3 > ul ul {
  padding-top: 0px !important;
  /*margin-left: -32px !important;*/
  margin-left: -13px !important;
}
.campl-secondary-content
  .block-menu-block
  .menu-block-3
  > ul
  ul
  li:last-of-type
  a {
  border: none !important;
}

/*---------*/

.campl-secondary-content .menu-block-3 > ul ul > li > a {
  padding: 0.15em 0 !important;
  color: #454545 !important;
}

.campl-secondary-content .menu-block-3 > ul ul > li.with-rh-icon > a {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  min-height: 24px;
  padding: 0 !important;
  border: none !important;
  color: #454545 !important;
}
.campl-secondary-content .menu-block-3 > ul ul > li.with-rh-icon {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  min-height: 24px;
  position: relative;
  padding: 1px 0 1px 30px;
  border-top: 1px solid #ddd !important;
  /*}*/
  /*.campl-secondary-content .menu-block-3 > ul ul > li.with-rh-icon:before {*/
  /*position: absolute;*/
  /*top: 0; left: 0;*/
  /*width: 24px; height: 24px;*/
  background-size: 24px 24px;
  background-position: left top;
  background-repeat: no-repeat;
}

.campl-secondary-content .menu-block-3 > ul ul > li.with-rh-icon:before {
  position: absolute;
  content: '';
  top: 21px;
  left: -10px;
  width: 7px;
  height: 7px;
  background-size: 7px 7px;
  background-position: left top;
  background-repeat: no-repeat;
}
/* font GFSNeoHellenic */
@charset "UTF-8";
@font-face {
  font-family: 'GFSNeohellenic';
  src:
    url('GFSNeoHellenic/GFSNeohellenic.woff2') format('woff2'),
    url('GFSNeoHellenic/GFSNeohellenic.woff') format('woff'),
    url('GFSNeoHellenic/GFSNeohellenic.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0370-03FF, U+1F00-1FFF;
}

@font-face {
  font-family: 'GFSNeohellenic';
  src:
    url('GFSNeoHellenic/GFSNeohellenicIt.woff2') format('woff2'),
    url('GFSNeoHellenic/GFSNeohellenicIt.woff') format('woff'),
    url('GFSNeoHellenic/GFSNeohellenicIt.otf') format('opentype');
  font-style: italic;
  font-weight: 400;
  unicode-range: U+0370-03FF, U+1F00-1FFF;
}

@font-face {
  font-family: 'GFSNeohellenic';
  src:
    url('GFSNeoHellenic/GFSNeohellenicBold.woff2') format('woff2'),
    url('GFSNeoHellenic/GFSNeohellenicBold.woff') format('woff'),
    url('GFSNeoHellenic/GFSNeohellenicBold.otf') format('opentype');
  font-style: normal;
  font-weight: 700;
  unicode-range: U+0370-03FF, U+1F00-1FFF;
}

@font-face {
  font-family: 'GFSNeohellenic';
  src:
    url('GFSNeoHellenic/GFSNeohellenicBoldIt.woff2') format('woff2'),
    url('GFSNeoHellenic/GFSNeohellenicBoldIt.woff') format('woff'),
    url('GFSNeoHellenic/GFSNeohellenicBoldIt.otf') format('opentype');
  font-style: italic;
  font-weight: 700;
  unicode-range: U+0370-03FF, U+1F00-1FFF;
}
/* Darwin Texts and Nameregs CSS */

#cudl_content_container div.footnote {
  display: table-row;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#cudl_content_container div.footnote > div.note_number {
  display: table-cell;
  width: 7%;
  float: none;
  background: none;
  border: none;
  padding: inherit;
  margin: inherit;
  box-shadow: none;
  transition: none;
  cursor: auto;
}
#cudl_content_container div.footnote > div:nth-child(n + 2) {
  display: table-cell;
  width: 93%;
}
#cudl_content_container div.footnote > div.note_number > a {
  background-color: #fafafa;
  padding: 1px 0.5em 2px;
  margin: 0 0.2em;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #ddd;
  border-bottom-color: #bbb;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s linear;
  cursor: pointer;
}
#cudl_content_container .opener_placeName,
#cudl_content_container .opener_date {
  text-align: right;
  margin: 0;
}
#cudl_content_container .paracent,
#cudl_content_container .l-cent,
#cudl_content_container .paracenter,
#cudl_content_container .centre,
#cudl_content_container .center {
  text-align: center;
}
#cudl_content_container .paraleft,
#cudl_content_container .l-left,
#cudl_content_container .left {
  text-align: left;
}
#cudl_content_container .pararight,
#cudl_content_container .l-right,
#cudl_content_container .right {
  text-align: right;
}
#cudl_content_container .hangingIndent {
  margin-left: 2em;
  text-indent: -2em;
}
#cudl_content_container ul,
#cudl_content_container .ul,
#cudl_content_container ul.simple,
#cudl_content_container .ul.simple {
  list-style: none;
  margin-top: 1em;
  margin-bottom: 1em;
}
#cudl_content_container ul.bulleted,
#cudl_content_container .ul.bulleted {
  list-style: disc;
}

#cudl_content_container table,
#cudl_content_container tr,
#cudl_content_container td,
#cudl_content_container .table,
#cudl_content_container .tr,
#cudl_content_container .td {
  border-collapse: collapse;
  border: none;
  background: inherit;
}
#cudl_content_container tbody {
  border: none;
}
#cudl_content_container table.left,
#cudl_content_container .table.left {
  margin-left: 0;
}
#cudl_content_container table.right,
#cudl_content_container .table.right {
  margin-right: 0;
  text-align: left;
}
#cudl_content_container table.centre,
#cudl_content_container .table.centre {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
#cudl_content_container table,
#cudl_content_container .table {
  padding: 0 0.25em;
  display: table;
}
#cudl_content_container tr,
#cudl_content_container .tr {
  padding: 0 0.25em;
  display: table-row;
}
#cudl_content_container td,
#cudl_content_container .td {
  padding: 0 0.25em;
  display: table-cell;
  vertical-align: middle;
}
#cudl_content_container table.inline,
#cudl_content_container .table.inline {
  display: inline-table;
  margin-top: 0;
}

#cudl_content_container .borderSides {
  border: 1px none black;
  border-style: none solid;
}
#cudl_content_container .borderTop {
  border-top: 1px solid black;
}
#cudl_content_container .borderLeft {
  border-left: 1px solid black;
}
#cudl_content_container .borderRight {
  border-right: 1px solid black;
}
#cudl_content_container .borderBottom {
  border-bottom: 1px solid black;
}
#cudl_content_container .borderAll {
  border: 1px solid black;
}

#cudl_content_container .borderSidesDouble {
  border: 3px none black;
  border-style: none double;
}
#cudl_content_container .borderTopDouble {
  border-top: 3px double black;
}
#cudl_content_container .borderLeftDouble {
  border-left: 3px double black;
}
#cudl_content_container .borderRightDouble {
  border-right: 3px double black;
}
#cudl_content_container .borderBottomDouble {
  border-bottom: 3px double black;
}
#cudl_content_container .borderAllDouble {
  border: 3px double black;
}
#cudl_content_container .inlineBlock {
  display: inline-block;
}

#cudl_content_container td.vAlignTop,
#cudl_content_container .td.vAlignTop,
#cudl_content_container tr.vAlignTop > td,
#cudl_content_container .tr.vAlignTop > td {
  vertical-align: baseline;
}
#cudl_content_container td.vAlignMiddle,
#cudl_content_container .td.vAlignMiddle,
#cudl_content_container tr.vAlignMiddle > td,
#cudl_content_container .tr.vAlignMiddle > td {
  vertical-align: middle;
}
#cudl_content_container td.vAlignBottom,
#cudl_content_container .td.vAlignBottom,
#cudl_content_container tr.vAlignBottom > td,
#cudl_content_container .tr.vAlignBottom > td {
  vertical-align: bottom;
}

#cudl_content_container .width05 {
  width: 5%;
}
#cudl_content_container .width10 {
  width: 10%;
}
#cudl_content_container .width15 {
  width: 15%;
}
#cudl_content_container .width20 {
  width: 20%;
}
#cudl_content_container .width25 {
  width: 25%;
}
#cudl_content_container .width30 {
  width: 30%;
}
#cudl_content_container .width33 {
  width: 33%;
}
#cudl_content_container .width35 {
  width: 35%;
}
#cudl_content_container .width40 {
  width: 40%;
}
#cudl_content_container .width45 {
  width: 45%;
}
#cudl_content_container .width50 {
  width: 50%;
}
#cudl_content_container .width55 {
  width: 55%;
}
#cudl_content_container .width60 {
  width: 60%;
}
#cudl_content_container .width65 {
  width: 65%;
}
#cudl_content_container .width66 {
  width: 66%;
}
#cudl_content_container .width70 {
  width: 70%;
}
#cudl_content_container .width75 {
  width: 75%;
}
#cudl_content_container .width80 {
  width: 80%;
}
#cudl_content_container .width85 {
  width: 85%;
}
#cudl_content_container .width90 {
  width: 90%;
}
#cudl_content_container .width95 {
  width: 95%;
}
#cudl_content_container .width100 {
  width: 100%;
}

#cudl_content_container .floatLeft {
  float: left;
  padding-right: 1em;
}
#cudl_content_container .floatRight {
  float: right;
  padding-left: 1em;
}
#cudl_content_container .blockCentred {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#cudl_content_container .inlineBlock {
  display: inline-block;
}
#cudl_content_container div {
  clear: both;
}
#cudl_content_container .figure img {
  max-width: 100%;
}
#cudl_content_container .figure img.svg {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
#cudl_content_container .body-p {
  margin-top: 1em;
  margin-bottom: 1em;
}

#cudl_content_container .grc {
  font-family: 'GFSNeohellenic';
  line-height: 1.153846154;
  font-size: 1.3em;
} /*  base line height (1.5) div font-size (1.3) */
