.page-emotion-experiment {
  /* hiding terms in this context */
}
.page-emotion-experiment .field-name-field-terms {
  display: none;
}

.emotion-content {
  /* Primary button */
  /* introductionContent */
  /* leave video out for now */
  /* start - skip button container
   --------------------------------------------- */
  /* question panel
   --------------------------------------------- */
  /* results panel
   --------------------------------------------- */
}
.emotion-content .primary_button {
  background: #b33466;
  /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #d56e96 0%,
    #c9467a 15%,
    #c63b71 52%,
    #9c4b6b 52%,
    #a65072 90%,
    #c63b71 100%
  );
  /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #d56e96),
    color-stop(15%, #c9467a),
    color-stop(52%, #c63b71),
    color-stop(52%, #9c4b6b),
    color-stop(90%, #a65072),
    color-stop(100%, #c63b71)
  );
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #d56e96 0%,
    #c9467a 15%,
    #c63b71 52%,
    #9c4b6b 52%,
    #a65072 90%,
    #c63b71 100%
  );
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #d56e96 0%,
    #c9467a 15%,
    #c63b71 52%,
    #9c4b6b 52%,
    #a65072 90%,
    #c63b71 100%
  );
  /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    #d56e96 0%,
    #c9467a 15%,
    #c63b71 52%,
    #9c4b6b 52%,
    #a65072 90%,
    #c63b71 100%
  );
  /* IE10+ */
  background: linear-gradient(
    to bottom,
    #d56e96 0%,
    #c9467a 15%,
    #c63b71 52%,
    #9c4b6b 52%,
    #a65072 90%,
    #c63b71 100%
  );
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d56e96', endColorstr='#b33466', GradientType=0);
  /* IE6-9 */
  border-radius: 6px;
  display: block;
  float: left;
  height: 27px;
  padding-right: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 0.8em;
  letter-spacing: 1px;
  margin: 0 10px 0 0;
}
.emotion-content .primary_button span,
.emotion-content .primary_button input {
  display: block;
  line-height: 27px;
  border: none;
  color: white;
  margin: 0 !important;
  padding: 0 5px 0 15px;
}
.emotion-content .primary_button span a {
  color: white;
}
.emotion-content .primary_button span:hover,
.emotion-content .primary_button input:hover {
  text-decoration: underline;
}
.emotion-content .wp-caption {
  box-shadow: 0 0 3px #666;
  -moz-box-shadow: 0 0 3px #666;
  -webkit-box-shadow: 0 0 3px #666;
  overflow: hidden;
}
.emotion-content .alignleft {
  float: left;
  padding: 10px 0 0 10px;
  margin: 0 20px 10px 0;
}
.emotion-content .alignright {
  float: right;
  margin: 0 0 10px 20px !important;
  padding: 10px;
  box-shadow: 0 0 3px #666;
  -moz-box-shadow: 0 0 3px #666;
  -webkit-box-shadow: 0 0 3px #666;
}
.emotion-content #introductionContent {
  background: #eff0e8;
  padding: 15px;
  overflow: auto;
  clear: both;
}
.emotion-content hr {
  display: none;
}
.emotion-content .videoLink {
  display: none;
}
.emotion-content #emotionsExperiment #startButtonContainer,
.emotion-content #emotionsExperiment #resetButtonContainer {
  background: #eff0e8;
  overflow: auto;
  padding: 15px;
  margin: 0 0 30px 0;
  text-align: left;
  margin: 0px 0;
  cursor: default;
  border-top: 1px #ccc solid;
}
.emotion-content #emotionsExperiment #resetButtonContainer {
  margin-bottom: 20px;
  text-align: right;
}
.emotion-content #emotionsExperiment #startButtonContainer .button {
  float: left;
  display: inline-block;
}
.emotion-content #emotionsExperiment #resetButtonContainer .primary_button {
  float: right;
  display: inline-block;
}
.emotion-content #resultsContent {
  display: none;
}
.emotion-content #emotionsExperiment #progressbar {
  width: 300px;
  float: left;
}
.emotion-content #emotionsExperiment #progressBlock p {
  float: left;
  margin: 5px 0 10px 10px;
  font-size: 1.1em;
}
.emotion-content #emotionsExperiment #statusPanel {
  margin: 0 0 60px 0;
}
.emotion-content #emotionsExperiment #questionImage {
  min-width: 440px;
  min-height: 590px;
  float: left;
  margin: 10px 30px 0 0;
  box-shadow: 0 0 3px #666;
  -moz-box-shadow: 0 0 3px #666;
  -webkit-box-shadow: 0 0 3px #666;
  padding: 5px 5px 0px 5px;
}
.emotion-content #emotionsExperiment #questionAnswers {
  width: 350px;
  float: left;
}
.emotion-content #emotionsExperiment #questionAnswers ul li {
  list-style-type: none;
}
.emotion-content #emotionsExperiment #questionAnswers input {
  margin: 0 10px 0 0;
  padding: 10px 0;
}
.emotion-content #emotionsExperiment #questionAnswers h3 {
  font-size: 1.9em;
  margin-bottom: 15px;
  margin: 0;
  padding: 0;
}
.emotion-content #emotionsExperiment #questionAnswers {
  padding: 5px 0 5px 0;
}
.emotion-content #emotionsExperiment #questionAnswers ul li {
  margin: 5px 0 5px 0;
  font-size: 1.1em;
}
.emotion-content #emotionsExperiment #questionAnswers label {
  cursor: pointer;
}
.emotion-content #emotionsExperiment #questionAnswers #openAnswer {
  width: 200px;
  padding: 5px;
  margin: 20px 5px 0 0;
  float: left;
}
.emotion-content #emotionsExperiment .disabled a:hover {
  text-decoration: none;
  cursor: default;
}
.emotion-content #emotionsExperiment .disabled {
  cursor: default;
}
.emotion-content #emotionsExperiment i {
  font-style: italic;
}
.emotion-content #emotionsExperiment #helpText {
  margin-top: 10px;
  background: #eff0e8;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 15px;
}
.emotion-content #emotionsExperiment #nextQuestionButton {
  float: left;
  font-size: 0.9em;
}
.emotion-content #resultsContainer {
  display: none;
  margin-top: 20px;
}
.emotion-content #resultsContainer .leftColumn {
  width: 887px;
  float: left;
  margin-bottom: 20px;
}
.emotion-content #resultsContainer .rightColumn {
  width: 180px;
  float: right;
}
.emotion-content #resultsContainer .resultBox {
  width: 100%;
  margin: 0 0 20px 0;
  list-style-type: none;
  background: #edf1e5;
  overflow: hidden;
}
.emotion-content #resultsContainer .resultBox:last-child {
  margin-bottom: 0;
}
.emotion-content .resultContent label {
  font-weight: bold;
}
.emotion-content .resultContent ul {
  margin: 0;
}
.emotion-content .resultContent ul li {
  list-style-type: none;
  margin-left: 0;
  margin-right: 0;
}
.emotion-content .resultContent .resultSpan {
  margin-left: 5px;
}
.emotion-content .resultContent .moreInfoResult,
.emotion-content .resultContent .furtherResult {
  width: 700px;
  display: none;
  margin: 15px 0;
}
.emotion-content #resultsContainer .resultThunbnail {
  float: left;
  padding: 10px 10px 5px 10px;
  height: 100%;
}
.emotion-content #resultsContainer .resultThunbnail img,
.emotion-content .frame {
  box-shadow: 0 0 3px #666;
  -moz-box-shadow: 0 0 3px #666;
  -webkit-box-shadow: 0 0 3px #666;
  padding: 2px;
}
.emotion-content #emotionsExperiment .frame {
  margin: 10px 0 20px 0;
}
.emotion-content #emotionsExperiment .caption {
  background: #eff0e8;
  margin-top: -4px;
  padding: 0 5px;
  font-size: 1em;
}
.emotion-content #resultsContainer .resultContent {
  float: left;
  padding: 10px;
}
.emotion-content #resultsContainer .resultContent h2 {
  margin: 0 0 10px 0;
  font-family: 'LeagueGothicRegular';
  font-weight: normal;
  font-size: 1.8em;
  color: #334258;
}
.emotion-content #resultsContainer .dummyResultBox {
  display: none;
}
.emotion-content #resultsContainer .resultComonGuess {
  display: none;
}
.emotion-content #resultsContainer .ducheneSaid,
.emotion-content #resultsContainer .darwinSaid p {
  margin-bottom: 20px;
}
.emotion-content #resultsContainer .ducheneSaid h3,
.emotion-content #resultsContainer .darwinSaid h3 {
  font-size: 1.4em;
}
.emotion-content #resultsContainer .ducheneSaid:last-child {
  margin-bottom: 0;
}
.emotion-content .ducheneSaid,
.emotion-content .darwinSaid,
.emotion-content .videoContainer {
  width: 670px;
  background: #e7e9dc;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 15px;
  margin: 15px 0 20px 0;
}
.emotion-content .videoContainer p {
  margin-top: 10px;
}
.emotion-content #emotionsExperiment .imageBox img {
  box-shadow: 0 0 3px #666;
  -moz-box-shadow: 0 0 3px #666;
  -webkit-box-shadow: 0 0 3px #666;
  padding: 2px;
  margin: 15px;
}
.emotion-content #emotionsExperiment .imageBox {
  margin-left: 10px;
}
.emotion-content #furtherResult {
  width: 800px;
}
.emotion-content #resultsContainer table,
.emotion-content #resultsContent table,
.emotion-content #resultsInfo table {
  font-size: 0.8em;
  border: 1px solid #ffffff;
  background: #edf1e5;
  margin: 0px 0 20px 0;
  padding: 5px;
  box-shadow: 0 0 3px #666;
  -moz-box-shadow: 0 0 3px #666;
  -webkit-box-shadow: 0 0 3px #666;
  padding: 2px;
  overflow: auto;
}
.emotion-content .resultContent table,
.emotion-content #resultsContent table,
.emotion-content #resultsInfo table {
  width: 100%;
}
.emotion-content .visitors {
  width: 870px;
}
.emotion-content #resultsContainer table th,
.emotion-content #resultsContent table th,
.emotion-content #resultsInfo table th {
  padding: 5px;
  font-weight: bold;
  text-align: center;
  background: #dee3d5;
}
.emotion-content #resultsContainer table td,
.emotion-content #resultsContent table td,
.emotion-content #resultsInfo table td {
  padding: 5px;
  border: 1px solid white;
}
.emotion-content #resultsContainer hr {
  color: #ffffff;
  background: #ffffff;
  height: 1px;
  border: 0;
  margin: 0 0 20px 0;
}
.emotion-content #welcomePanel #textColumn h3 {
  margin: 30px 0 5px 0;
}
.emotion-content #welcomePanel #textColumn h3:first-child {
  margin-top: 0;
}
.emotion-content #welcomePanel #textColumn b {
  font-weight: bold;
}
.emotion-content #referencesBox {
  background: #edf1e5;
  padding: 10px;
  margin: 20px 0 0 0;
}
.emotion-content #referencesBox h2 {
  font-family: 'LeagueGothicRegular';
  font-weight: normal;
  font-size: 1.7em;
  line-height: 1.2em;
  color: #334258;
  margin: 0 0 10px;
  clear: both;
}
.emotion-content #darwinResults img {
  box-shadow: 0 0 3px #666;
  -moz-box-shadow: 0 0 3px #666;
  -webkit-box-shadow: 0 0 3px #666;
  padding: 2px;
  margin-bottom: 15px;
}
.emotion-content #darwinResults img:last-child {
  margin-bottom: 5px;
}
.emotion-content .ducheneResult,
.emotion-content .darwinResult,
.emotion-content .videoContainer {
  display: none;
}
.emotion-content #darwinResults {
  background: #edf1e5;
  padding: 10px;
  margin: 20px 0 20px 0;
}
.emotion-content #darwinResults h2 {
  font-family: 'LeagueGothicRegular';
  font-weight: normal;
  font-size: 1.7em;
  line-height: 1.2em;
  color: #334258;
  margin: 0 0 10px;
  clear: both;
}
.emotion-content #darwinResults p {
  margin-bottom: 10px;
}
.emotion-content #conclusionBox {
  background: #edf1e5;
  padding: 10px;
  margin-bottom: 20px;
}
.emotion-content #conclusionBox h3 {
  font-family: 'LeagueGothicRegular';
  font-weight: normal;
  font-size: 1.6em;
  line-height: 1.2em;
  color: #334258;
  margin: 0 0 10px;
  clear: both;
}
.emotion-content .speechBox {
  background: #eff0e8;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 15px;
  margin: 0 0 15px 0;
}
.emotion-content .speechBoxResult {
  padding: 15px 0 15px 15px;
  background: #ffffff;
  margin: 15px 0 0 0;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

/*
 * jQuery UI Autocomplete 1.8.13
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.ui-autocomplete {
  position: absolute;
  cursor: default;
}

/* workarounds */
* html .ui-autocomplete {
  width: 1px;
}

/* without this, the menu expands to 100% in IE6 */
/*
 * jQuery UI Menu 1.8.13
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  float: left;
}

.ui-menu .ui-menu {
  margin-top: -3px;
}

.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
}

.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 0.2em 0.4em;
  line-height: 1.5;
  zoom: 1;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
}

/*
* jQuery UI Progressbar 1.8.13
*
* Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*
* http://docs.jquery.com/UI/Progressbar#theming
*/
.ui-progressbar {
  height: 2em;
  text-align: left;
}

.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%;
}
