body.kids-timeline-page {
  /* @todo: wrap with page style */
  /* #wrapper {
      width: 960px;
      margin-left: auto;
      margin-right: auto;
  } */
  /* padding voor li zodat background nog doorkomt, container div (wrapper) meer width */
  /* hides */
  /* unknown characters in the font fix */
  /* Your styles end here */
  /* Print styles */
  /* Buttons */
  /* Overlay */
  background: url('images/mainContentback.png') repeat;
}
body.kids-timeline-page .campl-recessed-content .campl-wrap {
  width: 100%;
}
body.kids-timeline-page #clockWork {
  position: absolute;
  left: 510px;
  top: 205px;
  z-index: 10;
}
body.kids-timeline-page #timeBar {
  width: 43px;
  position: absolute;
  top: 210px;
  height: 9481px;
  background: url('images/line.png') repeat-y left top;
  z-index: 1000;
  left: 560px;
}
body.kids-timeline-page .stopInfo h2 {
  font-size: 2.7em;
  padding: 0;
  text-shadow: #fff 0px 1px 0px;
  line-height: 1em;
}
body.kids-timeline-page .stopInfo .date {
  font-size: 1.3em;
  text-shadow: #fff 0px 1px 0px;
  padding-bottom: 10px;
}
body.kids-timeline-page .stopInfo .description {
  font-size: 1.1em;
  margin: 10px 0 0 0;
  text-shadow: #fff 0px 1px 0px;
  line-height: 1.4em;
}
body.kids-timeline-page .historyCollectionWrapper {
  float: right;
  overflow: hidden;
}
body.kids-timeline-page .historyCollection {
  background: url('images/activityBackground.png');
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 7px #a79d92;
  width: 325px;
  margin: 5px;
  margin-left: 0;
  float: right;
  border-style: solid;
  border-width: 1px;
  border-color: #aeaeae;
}
body.kids-timeline-page .historyCollectionWrapper .year {
  background-image: url('images/historyCollectionTimeIndicator.png');
  background-repeat: no-repeat;
  background-position: 48px center;
  float: left;
  width: 108px;
  color: #000000;
  font-size: 1.7em;
  text-shadow: #ffffff 0px 1px 0px;
}
body.kids-timeline-page .historyCollection h2 {
  color: #000000 !important;
  font-size: 1em !important;
  text-align: center;
  padding-bottom: 10px;
}
body.kids-timeline-page .historyCollection ul {
  list-style-type: none;
}
body.kids-timeline-page .historyCollection h2 span {
  color: #c3414d;
}
body.kids-timeline-page .historyCollection li p {
  background-image: url('images/dash.png');
  background-repeat: no-repeat;
  background-position: 0 10px;
  text-indent: 15px;
  font-size: 15px;
  line-height: 1.5em;
  margin: 0;
}
body.kids-timeline-page .historyCollection li.single p {
  background-image: none;
  text-indent: 0;
}
body.kids-timeline-page .historyCollection .smallerTitle {
  font-size: 1.4em;
}
body.kids-timeline-page .historyCollection li img {
  padding-top: 10px;
}
body.kids-timeline-page .historyCollection li {
  background-image: url('images/historyCollectionLine.png');
  background-position: center top;
  background-repeat: no-repeat;
  padding: 10px 20px;
}
body.kids-timeline-page .historyCollection li h2 {
  padding: 3px 0;
  margin: 0;
}
body.kids-timeline-page .box a {
  display: block;
}
body.kids-timeline-page .summary {
  font-size: 14px;
  color: #878580;
}
body.kids-timeline-page #stopContainer {
  list-style-type: none;
}
body.kids-timeline-page #stopContainer .stopHead {
  overflow: hidden;
  display: block;
  /*    width: 960px; */
}
body.kids-timeline-page #stopContainer .stopHead .stopInfo {
  padding-left: 15px;
  width: 480px;
}
body.kids-timeline-page #stopContainer .stopHead .stopQuickNav,
body.kids-timeline-page #stopContainer .stopHead .stopInfo {
  float: left;
}
body.kids-timeline-page #stopContainer .stopHead .stopQuickNav {
  width: 61px;
}
body.kids-timeline-page #stopContainer .historyCollectionWrapper {
  width: 440px;
}
body.kids-timeline-page #stopContainer li .darwinEventContent {
  float: left;
  width: 520px;
}
body.kids-timeline-page #stopContainer .stopContent {
  /*overflow: hidden;*/
}
body.kids-timeline-page #stop0 {
  background-image: url('images/darwinBornBackground.png');
  background-repeat: no-repeat;
  background-position: -82px 0;
  height: 514px;
  margin-top: 30px;
}
body.kids-timeline-page #stop0 .stopContent {
  margin-top: -72px;
}
body.kids-timeline-page #stop0 .stopContent .year {
  width: 86px;
}
body.kids-timeline-page #stop1 {
  background-image: url('images/school1.png');
  background-repeat: no-repeat;
  background-position: 200px top;
  padding-top: 260px;
  margin-top: -200px;
}
body.kids-timeline-page #stop2 {
  background-image: url('images/beatle.png');
  background-repeat: no-repeat;
  padding-top: 200px;
  margin-top: -300px;
}
body.kids-timeline-page #stop3 {
  background-image: url('images/beagleSetsOut.png');
  background-repeat: no-repeat;
  background-position: -157px 80px;
}
body.kids-timeline-page #stop3 .historyCollectionWrapper {
  margin-top: 250px;
}
body.kids-timeline-page #stop3 #beagleSetsOutArrow {
  background-image: url('images/beagleSetsOutArrow.png');
  background-repeat: no-repeat;
  margin-top: 420px;
  width: 488px;
  height: 310px;
}
body.kids-timeline-page #stop4 .stopContent {
  background-image: url('images/sea.png');
  background-position: 0 0;
  background-repeat: repeat;
  padding-top: 70px;
}
body.kids-timeline-page #stop4 .stopContent .historyCollectionWrapper {
  margin-top: 50px;
}
body.kids-timeline-page #stop4 .stopHead {
  background-image: url('images/waves.png');
  background-repeat: repeat-x;
  background-position: 0 bottom;
  padding-bottom: 100px;
}
body.kids-timeline-page #stop4 {
  background-image: url('images/ship.png');
  background-repeat: no-repeat;
  background-position: 400px top;
  padding-top: 380px;
  margin-top: -150px;
}
body.kids-timeline-page #stop4 #fish1 {
  background-image: url('images/fish1.png');
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-left: 150px;
  width: 172px;
  height: 94px;
}
body.kids-timeline-page #stop4 #fish2 {
  background-image: url('images/fish2.png');
  background-repeat: no-repeat;
  width: 256px;
  height: 130px;
  margin-bottom: 70px;
}
body.kids-timeline-page #stop5 {
  background-image: url('images/fuegiansSky.png');
  background-repeat: repeat-x;
  background-position: 0 -75px;
}
body.kids-timeline-page #stop5 .stopHead {
  background-image: url('images/fuegiansEncounter.jpg');
  background-repeat: no-repeat;
  background-position: -156px 0;
  height: 843px;
}
body.kids-timeline-page #stop5 .stopContent {
  margin-top: -350px;
}
body.kids-timeline-page #stop5 .stopContent .historyCollectionWrapper {
  margin-top: 230px;
}
body.kids-timeline-page #stop6 {
  background-image: url('images/darwinMarriage.png');
  background-repeat: no-repeat;
  background-position: -75px 0;
  padding-top: 500px;
  margin-top: -400px;
}
body.kids-timeline-page #stop6 .historyCollectionWrapper {
  margin-top: -200px;
}
body.kids-timeline-page #stop7 {
  background-image: url('images/originOfSpecies.png');
  background-repeat: no-repeat;
  background-position: 20px 200px;
}
body.kids-timeline-page #stop7 .stopContent {
  padding-top: 240px;
}
body.kids-timeline-page #stop8 {
  background-image: url('images/descentOfMan.png');
  background-repeat: no-repeat;
  background-position: 330px 0;
  padding-top: 205px;
  margin-top: -300px;
}
body.kids-timeline-page #stop8 .historyCollectionWrapper {
  margin-top: 70px;
}
body.kids-timeline-page #stop9 {
  background-image: url('images/expressions.png');
  background-repeat: no-repeat;
  background-position: 620px 0;
}
body.kids-timeline-page #stop9 .stopContent {
  padding-top: 40px;
}
body.kids-timeline-page #stop9 .historyCollectionWrapper {
  margin-top: 80px;
}
body.kids-timeline-page #stop10 {
  padding-top: 100px;
  background-image: url('images/insectivorousPlant.png');
  background-repeat: no-repeat;
  background-position: 640px 0;
  margin-top: -80px;
}
body.kids-timeline-page #stop11 {
  background-image: url('images/earthWorm.png');
  background-repeat: no-repeat;
  background-position: 390px 100px;
}
body.kids-timeline-page #stop11 .darwinEventContent {
  padding-top: 25px;
}
body.kids-timeline-page #stop12 {
  padding-bottom: 100px;
  margin-top: 40px;
}
body.kids-timeline-page #stop12 .stopContent {
  float: right;
  margin-top: -150px;
}
body.kids-timeline-page #stop12 .stopContent .darwinEventContent {
  float: none;
  width: auto;
  padding-left: 50px;
}
body.kids-timeline-page .hideMe {
  position: absolute;
  top: -10000px;
  overflow: hidden;
  line-height: 1px;
  height: 1px;
}
body.kids-timeline-page .differentFont {
  font-family: Georgia;
}
@media print {
  body.kids-timeline-page {
    /*    .footerWrapper img {
            display: block!important;
        }
    */
  }
  body.kids-timeline-page #clockWork,
  body.kids-timeline-page #timeBar {
    display: none;
  }
  body.kids-timeline-page * {
    margin: 0 !important;
    padding: 0 !important;
    float: none !important;
    width: auto !important;
    height: auto !important;
    background-image: none !important;
    box-shadow: none !important;
  }
  body.kids-timeline-page img,
  body.kids-timeline-page #box {
    display: none !important;
  }
  body.kids-timeline-page .stopHead .stopInfo h2 {
    font-size: 1.7em;
    margin-bottom: 5px !important;
  }
  body.kids-timeline-page .stopHead .stopInfo p.description {
    font-size: 1em !important;
  }
  body.kids-timeline-page
    #stopContainer
    .historyCollectionWrapper
    .historyCollection
    p {
    font-size: 1.2em;
  }
  body.kids-timeline-page #stopContainer {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
  body.kids-timeline-page .stopInfo .date {
    font-size: 1em !important;
    margin-bottom: 3px !important;
  }
  body.kids-timeline-page .historyCollectionWrapper {
    width: 400px !important;
    margin-left: 50px !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    font-size: 0.9em;
  }
  body.kids-timeline-page #stopContainer .darwinEventContent > img {
    width: 50% !important;
    height: 50% !important;
  }
  body.kids-timeline-page .historyCollectionWrapper > p {
    display: none;
  }
  body.kids-timeline-page .historyCollection > h2 {
    text-align: center;
  }
  body.kids-timeline-page .historyCollection li p {
    font-size: 0.9em !important;
  }
  body.kids-timeline-page .historyCollection li h2 {
    padding-bottom: 5px;
  }
  body.kids-timeline-page .historyCollection li {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #7d7d7d;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  body.kids-timeline-page .historyCollection > li:last-child {
    border-style: none !important;
  }
  body.kids-timeline-page #stopContainer > li {
    margin-bottom: 20px !important;
  }
}
body.kids-timeline-page .button {
  padding: 4px 0 0 0;
  width: 140px;
  height: 29px;
  display: block;
  text-align: left;
  font-family: Georgia;
  color: #45280a;
  background: url('images/button.png') no-repeat;
  margin: 0 0 5px 38px;
  cursor: pointer;
  font-size: 15px;
  text-shadow: #efdcbd 0px 1px 0px;
}
body.kids-timeline-page .button:hover {
  background: url('images/buttonHover.png') no-repeat;
}
body.kids-timeline-page .toTopButton {
  background: url('images/toTopButton.png') no-repeat;
  width: 33px;
  height: 36px;
  display: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 3px;
}
body.kids-timeline-page .toTopButton:hover {
  background: url('images/toTopButtonHover.png') no-repeat;
  width: 33px;
  height: 36px;
  display: block;
  cursor: pointer;
}
body.kids-timeline-page .toBottomButton {
  background: url('images/toBottomButton.png') no-repeat;
  width: 33px;
  height: 38px;
  display: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 3px;
}
body.kids-timeline-page .toBottomButton:hover {
  background: url('images/toBottomButtonHover.png') no-repeat;
  width: 33px;
  height: 38px;
  display: block;
  cursor: pointer;
}
body.kids-timeline-page .showMaterialButton {
  background-image: url('images/message_button.png');
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  width: 58px;
  height: 60px;
  margin-bottom: 10px;
}
body.kids-timeline-page .showMaterialButton:hover {
  background-image: url('images/message_buttonHover.png');
}
body.kids-timeline-page .boxclose {
  float: right;
  width: 33px;
  height: 36px;
  background: url('images/closeButton.png');
  margin-top: -30px;
  margin-right: -30px;
  cursor: pointer;
}
body.kids-timeline-page .boxclose:hover {
  background: url('images/closeButtonHover.png');
}
body.kids-timeline-page .disabled {
  opacity: 0.6;
  filter: alpha(opacity=40);
  /* For IE8 and earlier */
}
body.kids-timeline-page #scrollButton {
  background: url('"images/scrollDown.png"');
  width: 42px;
  height: 133px;
  display: block;
  position: absolute;
  right: 0;
  top: 220px;
  cursor: pointer;
}
body.kids-timeline-page .overlay {
  background: transparent url('images/overlay.png') repeat top left;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2501;
}
body.kids-timeline-page .box {
  position: fixed;
  top: -700px;
  background-color: #fff;
  color: #44280a;
  padding: 20px;
  border: 2px solid #ccc;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  -moz-box-shadow: 0 1px 5px #333;
  -webkit-box-shadow: 0 1px 5px #333;
  z-index: 8111;
  line-height: 1.5em;
  width: 800px;
}
body.kids-timeline-page .box h2 {
  margin-top: 0;
  padding-top: 0;
  font-size: 1.8em;
  padding-bottom: 15px;
  line-height: 1.2em;
}
body.kids-timeline-page .box h3 {
  font-size: 1.2em;
  color: #c3414d;
  margin: 0;
}
body.kids-timeline-page .box a {
  text-decoration: none;
  color: #4b3c33;
}
body.kids-timeline-page .box a:hover {
  text-decoration: underline;
}
body.kids-timeline-page .box ul {
  margin: 3px 0 15px 0;
  padding: 0;
}
body.kids-timeline-page .box li {
  list-style-type: none;
}
body.kids-timeline-page #headerWrapper {
  position: relative;
  clear: both;
  overflow: visible;
  width: 980px;
  margin: 0;
  margin: 0 auto;
  margin-bottom: 110px;
}
body.kids-timeline-page ul#stopContainer {
  /*    max-width: 945px; */
  overflow: hidden;
}
body.kids-timeline-page ul#stopContainer .stopHead {
  width: 100%;
  padding-top: 20px;
}
body.kids-timeline-page ul#stopContainer .stopHead .stopHeadInner {
  clear: both;
  overflow: visible;
  width: 980px;
  margin: 0;
}
body.kids-timeline-page ul#stopContainer > li .stopContent .stopContentInner {
  clear: both;
  overflow: visible;
  width: 980px;
  margin: 0;
}
body.kids-timeline-page
  ul#stopContainer
  > li
  .stopContent
  .historyCollectionWrapper {
  margin-right: 40px;
}
body.kids-timeline-page ul#stopContainer > li#stop12 .stopContent {
  width: 450px;
}
body.kids-timeline-page #stopContainer li .darwinEventContent {
  float: left;
  width: 495px;
}
body.kids-timeline-page .campl-content {
  background: transparent;
}
body.kids-timeline-page .campl-recessed-content {
  padding-top: 0px;
}
body.kids-timeline-page .historyCollection .smallerTitle {
  font-size: 1.4em !important;
}
