#page-content {
  position: relative;
}
#block-darwin-sharing-darwin-sharing-add {
  padding: 0;
}
.social-media-share {
  position: absolute;
  right: 40px;
  top: 10px;
}
.campl-recessed-content .social-media-share {
  top: -25px;
}
.region-content
  .block:nth-of-type(2)
  > .campl-content-container:first-of-type
  > *,
.campl-recessed-sub-title .campl-sub-title,
.region-content > ul.tab-menu {
  padding-right: 185px !important; /* to allow space to right */
}
.social-media-share .icon-sm i {
  color: #fff;
  font-size: 20px;
}
.social-media-share .icon-sm {
  border-radius: 50%;
  height: 30px;
  width: 35px;
  display: inline-block;
  text-align: center;
  padding-top: 5px;
  margin-left: 10px;
  line-height: 30px;
}
.social-media-follow a {
  height: 30px;
  display: block;
  padding: 5px 10px;
  line-height: 30px;
  color: #fff !important;
  font-size: 14px;
  margin-bottom: 5px;
}
.social-media-follow a i {
  font-size: 20px;
  padding-top: 5px;
  min-width: 23px;
}
.darwin-facebook {
  background-color: rgb(59, 89, 152);
}
.darwin-twitter {
  background-color: rgb(29, 161, 242);
}
.darwin-email {
  background-color: rgb(132, 132, 132);
}
.darwin-instagram {
  background-color: #c13584;
}
