div.darwin-search-results-container ul.tab-menu {
  list-style: none;
  padding: 0;
  clear: both;
  overflow: hidden;
  margin: -32px 0 16px 0;
}
div.darwin-search-results-container ul.tab-menu li {
  list-style: none;
  padding: 0;
  display: inline;
  float: left;
  margin: 0 0 -1px 0;
}
div.darwin-search-results-container ul.tab-menu li a {
  outline: none;
  background: #355918;
  border-right: 1px solid #304220;
  border-bottom: 1px solid #304220;
  border-top: 1px solid #304220;
  padding: 10px 20px;
  display: block;
  color: #fff;
  text-decoration: none;
}
div.darwin-search-results-container ul.tab-menu li a.active {
  background: #222f16;
}
div.darwin-search-results-container .search-result-item .flow {
  overflow: auto;
}
div.darwin-search-results-container .search-result-item {
  position: relative;
}
div.darwin-search-results-container .search-result-item .flag-wrapper {
  min-width: 200px;
  display: block;
  position: absolute;
  right: 60px;
  top: 14px;
  text-align: right;
}
div.darwin-search-results-container .search-result-item .flag-wrapper a {
  color: #2a7fbd;
  font-size: 85%;
}
div.darwin-search-results-container
  .search-result-item
  .flag-wrapper
  span.flag-message {
  position: relative;
  display: block;
  text-align: right;
  top: 0px;
}
div.darwin-search-results-container
  .search-result-item.has-summary
  div.key-image {
  float: right;
  width: 50%;
  padding: 10px;
}
div.darwin-search-results-container
  .search-result-item.has-summary
  div.key-image
  img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border: none;
  -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.5);
}
div.darwin-search-results-container .search-result-item.no-image .summary {
  width: 100%;
}
div.darwin-search-results-container .search-result-item.has-summary table {
  float: right;
  width: 50%;
}
div.darwin-search-results-container .search-result-item .summary {
  float: left;
  width: 30%;
}
div.darwin-search-results-container .floatLeft .thumbnail {
  margin-right: 10px;
  max-width: 100px;
  float: left;
  clear: left;
}
div.darwin-search-results-container .floatLeft .thumbnail img {
  max-width: 100%;
}
@media (max-width: 767px) {
  div.darwin-search-results-container .search-result-item .summary {
    float: left;
    width: auto;
    clear: right;
  }
  div.darwin-search-results-container .search-result-item.has-summary table {
    width: 100%;
    float: none;
  }
}
@media (max-width: 480px) {
  div.darwin-search-results-container .search-result-item > h2 {
    font-size: 1.3em;
    liine-height: 1.3em;
  }
  div.darwin-search-results-container .floatLeft .thumbnail {
    clear: both;
    float: none;
  }
}

div.search-result-item {
  clear: both;
  overflow: auto;
}

div.search-results-list {
  display: none;
}
div.search-results-list .summary {
  word-wrap: break-word;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

#block-cudl-related-letters {
  padding: 10px 5%;
}
#block-cudl-related-letters .campl-content-container {
  padding: 0;
}
#block-cudl-related-letters #related-pages h2 {
  background-color: #4b701c;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  padding: 0.5em 1em;
  line-height: 1.2;
  margin: 1.5em 0;
}
#block-cudl-related-letters #related-pages div {
  margin-left: 9px;
}
#block-cudl-related-letters .letter {
  margin-bottom: 10px;
}

/* @PC007 - Hide "edit" button for field_image, use remove/replace */
#edit-field-image-und-0-upload #edit-field-image-und-0-edit {
  display: none;
}

/**
 * @PC012 - advanced search
 */
.page-letter.campl-theme-4 .campl-main-content h1.adv-h1 {
  font-size: 90%;
}

body.with-advanced-search .campl-recessed-content {
  padding-top: 0px;
}
body.with-advanced-search.page-letter #page-secondary {
  margin-top: 3em;
}
body.with-advanced-search .campl-column3.campl-secondary-content {
  top: -11.5em;
}

#block-darwin-search-darwin-search {
  clear: both;
  overflow: hidden;
  background: #4b701c;
}
#block-darwin-search-darwin-search form {
  position: relative;
}
#block-darwin-search-darwin-search form div.advanced-search {
  position: absolute;
  top: 2.8em;
  left: 75%;
  white-space: nowrap;
}
@media (max-width: 767px) {
  #block-darwin-search-darwin-search form div.advanced-search {
    position: initial;
  }
}
#block-darwin-search-darwin-search > div.campl-column9 form .form-text {
  width: 63.5%;
}
#block-darwin-search-darwin-search
  > div.campl-column9
  form
  div.advanced-search {
  left: 82%;
}
#block-darwin-search-darwin-search #advanced-header {
  position: relative;
  background: #4b701c !important;
}
#block-darwin-search-darwin-search #advanced-header h1 {
  color: #fff;
}
#block-darwin-search-darwin-search #advanced-header a {
  position: absolute;
  right: 3em;
  top: 3em;
}
#block-darwin-search-darwin-search.with-advanced {
  border-bottom: 40px solid #fff;
}

.page-advanced-search .campl-column3.campl-secondary-content {
  z-index: 20;
}
.page-advanced-search .campl-recessed-content {
  padding-top: 0;
}
.page-advanced-search .campl-main-content {
  margin-top: -40px;
}
.page-advanced-search #block-system-main div div.header,
.page-advanced-search #block-system-main div div.footer {
  display: none;
}
.page-advanced-search .region-sidebar h2 {
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.15em;
  font-weight: normal;
  text-align: center;
  padding: 0.5em 1em;
  line-height: 1.2em;
  margin: 0 0 0 0;
  background-color: #4b701c;
}
.page-advanced-search .region-sidebar div.fake-input {
  border: 1px solid #888888;
  background-color: #ffffff;
  padding: 0.25em 0.5em;
  font-weight: bold;
  margin-top: 0.5em;
}

#advanced-search-forms {
  margin-top: 30px;
  padding: 0px 20px 20px;
}
#advanced-search-forms form {
  background-color: #eee;
  border: 2px solid #304220;
  padding: 1em 1em 1em 0;
  clear: both;
  overflow: hidden;
}
#advanced-search-forms form > h4 {
  display: none;
}
#advanced-search-forms form p {
  font-size: 1.2em;
  clear: both;
  overflow: hidden;
  margin: 1em 0 0 0;
  padding: 0 1em 0 0;
}
#advanced-search-forms form p label {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.6em;
}
#advanced-search-forms form p:last-of-type {
  display: block;
  float: right;
}
#advanced-search-forms form p:last-of-type input[type='reset'],
#advanced-search-forms form p:last-of-type input[type='submit'] {
  margin: 0 0 0 0.5em;
  padding: 0.5em 1em;
  width: 8em;
  text-transform: capitalize;
  background-color: #355918;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
}
#advanced-search-forms form p:last-of-type input[type='reset']:hover,
#advanced-search-forms form p:last-of-type input[type='submit']:hover {
  background-color: #4b701c;
}
#advanced-search-forms form p:last-of-type input[type='reset'] {
  background-color: #515c48;
}
#advanced-search-forms form p.search-text,
#advanced-search-forms form p.search-correspondent,
#advanced-search-forms form p.repository {
  display: table;
  width: 100%;
}
#advanced-search-forms form p.search-text label,
#advanced-search-forms form p.search-correspondent label,
#advanced-search-forms form p.repository label {
  display: table-cell;
  width: 9.75em;
  padding-right: 0.5em;
  text-align: right;
}
#advanced-search-forms form p.search-text input[type='text'],
#advanced-search-forms form p.search-correspondent input[type='text'],
#advanced-search-forms form p.repository input[type='text'] {
  display: table-cell;
  width: 75%;
  margin-bottom: 1em;
}
#advanced-search-forms form p.search-correspondent-hint {
  padding-left: 12.5em;
  font-size: 12px;
  color: #666;
  font-style: italic;
  margin-top: -0.5em;
}
#advanced-search-forms form p.search-sectionType,
#advanced-search-forms form p.search-correspondent-type,
#advanced-search-forms form p.search-date-types {
  padding-left: 10.5em;
  margin: 0.5em 0;
}
#advanced-search-forms form p.search-sectionType label,
#advanced-search-forms form p.search-correspondent-type label,
#advanced-search-forms form p.search-date-types label {
  display: inline-block;
  font-size: 0.8em;
  padding: 0 1em 0 0.2em;
}
#advanced-search-forms form p.search-sectionType input,
#advanced-search-forms form p.search-correspondent-type input,
#advanced-search-forms form p.search-date-types input {
  display: inline-block;
}
#advanced-search-forms form p.search-dates label {
  display: block;
  float: left;
  width: 9.75em;
  padding-right: 0.5em;
  text-align: right;
}
#advanced-search-forms form p.search-dates span.date-item {
  display: inline-block;
}
#advanced-search-forms form p.search-dates span.date-item input[type='text'] {
  display: block;
  width: auto;
  margin-bottom: 0;
  text-align: center;
}
#advanced-search-forms form p.search-dates span.date-item span {
  text-align: center;
  display: block;
  font-size: 12px;
  color: #666;
  font-style: italic;
}
#advanced-search-forms form p.search-dates span.between {
  padding-left: 1em;
}
#advanced-search-forms
  form
  p.search-dates
  span.between
  span.date-item:first-of-type {
  margin-left: 1em;
}
@media (max-width: 767px) {
  #advanced-search-forms form p.search-dates span.between {
    display: block;
    clear: both;
    margin-left: 8.25em;
  }
  #advanced-search-forms
    form
    p.search-dates
    span.between
    span.date-item:first-of-type {
    margin-left: 0.5em;
  }
}
#advanced-search-forms form p.search-exclude {
  text-align: left;
  padding-left: 10.5em;
}
#advanced-search-forms form p.search-exclude label {
  display: inline-block;
  padding: 0 1em 0 0.2em;
}
#advanced-search-forms form p.search-exclude input {
  display: inline-block;
}
@media (max-width: 767px) {
  #advanced-search-forms form p {
    font-size: 12px;
    display: block;
  }
  #advanced-search-forms form p label {
    display: block;
    float: none;
    width: auto;
    text-align: left;
    font-size: 1em !important;
  }
  #advanced-search-forms form p input[type='text'] {
    display: block;
    float: none;
    width: 80%;
  }
  #advanced-search-forms form p.date-labels span {
    width: 69px;
    font-size: 1em;
  }
}
#advanced-search-forms form#names {
  display: none;
}

/**
 * @2016-10-28 - LETTER page alterations
 * add tab-menu for "transcript", "original" and optionally "translation"
 */
div.region-content ul.tab-menu {
  list-style: none;
  padding: 0;
  clear: both;
  overflow: hidden;
  margin: -0px 0 16px 0;
}
div.region-content ul.tab-menu li {
  list-style: none;
  padding: 0;
  display: inline;
  float: left;
  margin: 0 0 -1px 0;
}
div.region-content ul.tab-menu li a {
  outline: none;
  background: #355918;
  border-right: 1px solid #304220;
  border-bottom: 1px solid #304220;
  border-top: 1px solid #304220;
  padding: 10px 20px;
  display: block;
  color: #fff;
  text-decoration: none;
}
div.region-content ul.tab-menu li a.active {
  background: #222f16;
}

.content h1.letter-title {
  margin: 20px 0 0 0.5em;
}

div.darwin-search-results-container .this-site .this-site-result-wrap {
  width: 70%;
}
div.darwin-search-results-container .this-site .summary {
  width: auto !important;
}
div.darwin-search-results-container
  .this-site
  .search-result-item.has-summary
  div.key-image {
  float: right;
  width: 25%;
}

.front .region-sidebar .tips {
  margin-bottom: 5em;
}

.region-sidebar .tips {
  padding: 10px 5%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2em;
}
.region-sidebar .tips h2 {
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.15em;
  font-weight: normal;
  text-align: center;
  padding: 0.5em 1em;
  line-height: 1.2em;
  margin: 0 0 0.5em 0;
  background-color: #4b701c;
}
.region-sidebar .tips div.fake-input {
  border: 1px solid #888888;
  background-color: #ffffff;
  padding: 0.25em 0.5em;
  font-weight: bold;
  margin-top: 0.5em;
}
.region-sidebar .tips table.sampleTable {
  display: block;
  border: none;
}
.region-sidebar .tips table.sampleTable tbody {
  border: none;
}
.region-sidebar .tips table.sampleTable tr {
  display: block;
}
.region-sidebar .tips table.sampleTable tr td {
  background: transparent;
  display: block;
}
.region-sidebar .tips table.sampleTable tr td.sampleQuery {
  border: 1px solid #888888;
  background-color: #ffffff;
  padding: 0.25em 0.5em;
  font-weight: bold;
  margin-top: 0.5em;
}

#returnLink {
  position: absolute;
  right: 4px;
  color: #fff;
  background-color: #4b701c;
  padding: 1px 12px 3px 12px;
  border-radius: 24px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.27) 1px 1px 5px;
}
