.node-type-cudl-photo-album .campl-recessed-content {
  padding-top: 0px;
}
.node-type-cudl-photo-album .campl-column3.campl-secondary-content {
  top: -10.5em;
}
.node-type-cudl-photo-album .cudl-album {
  background-color: #000000;
  color: #ffffff;
}
.node-type-cudl-photo-album .cudl-album a {
  color: #ffffff;
}
.node-type-cudl-photo-album .cudl-album #toolbarDiv .ibtn {
  display: block;
  overflow: hidden;
  width: 0;
  padding-left: 24px;
  height: 24px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  outline: none;
  margin: 0 4px;
}
.node-type-cudl-photo-album .cudl-album #toolbarDiv #next {
  float: left;
  background-image: url('/sites/all/modules/cudl_album/css/next.png');
}
.node-type-cudl-photo-album .cudl-album #toolbarDiv #previous {
  float: left;
  background-image: url('/sites/all/modules/cudl_album/css/previous.png');
}
.node-type-cudl-photo-album .cudl-album #toolbarDiv #currentPage,
.node-type-cudl-photo-album .cudl-album #toolbarDiv #numPages,
.node-type-cudl-photo-album .cudl-album #toolbarDiv #of {
  line-height: 24px;
  display: block;
  float: left;
  margin: 0 4px;
}
.node-type-cudl-photo-album .cudl-album #toolbarDiv #rotR {
  padding-left: 18px;
  height: 18px;
  float: left;
  background-image: url('/sites/all/modules/cudl_album/css/rotate-right.png');
}
.node-type-cudl-photo-album .cudl-album #toolbarDiv #rotL {
  padding-left: 18px;
  height: 18px;
  float: left;
  background-image: url('/sites/all/modules/cudl_album/css/rotate-left.png');
}
.node-type-cudl-photo-album .cudl-album #toolbarDiv #zoom-in {
  padding-left: 18px;
  height: 18px;
  float: left;
  background-image: url('/sites/all/modules/cudl_album/css/zoomin.png');
}
.node-type-cudl-photo-album .cudl-album #toolbarDiv #zoom-out {
  padding-left: 18px;
  height: 18px;
  float: left;
  background-image: url('/sites/all/modules/cudl_album/css/zoomout.png');
}
.node-type-cudl-photo-album .region-sidebar .albumInfo {
  padding: 10px 5%;
  border-bottom: 1px solid #ddd;
}
.node-type-cudl-photo-album .region-sidebar .albumInfo > div {
  margin-bottom: 2em;
}
.node-type-cudl-photo-album .region-sidebar .albumInfo h2 {
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.15em;
  font-weight: normal;
  text-align: center;
  padding: 0.5em 1em;
  line-height: 1.2em;
  margin: 0 0 0.5em 0;
  background-color: #4b701c;
}
.node-type-cudl-photo-album .region-sidebar .albumInfo .panel {
  border: 1px solid #4b701c;
  background-color: #ffffff;
}
.node-type-cudl-photo-album .region-sidebar .albumInfo .panel h2 {
  margin: 0;
  font-size: 1em;
}
.node-type-cudl-photo-album .region-sidebar .albumInfo .panel .inner {
  padding: 0 0 10px 0;
}
.node-type-cudl-photo-album .region-sidebar .albumInfo .item {
  padding: 0px 1em;
}
.node-type-cudl-photo-album .region-sidebar .albumInfo .item .label {
  margin: 8px 0 2px 0;
  display: block;
  font-weight: bold;
}
.node-type-cudl-photo-album .region-sidebar .albumInfo .item .value {
  display: block;
}
.node-type-cudl-photo-album .region-sidebar .albumInfo .item p {
  margin: 0;
}
.node-type-cudl-photo-album .region-sidebar .albumInfo #album-contents .group {
  max-height: 70vh;
  overflow: auto;
}
.node-type-cudl-photo-album .region-sidebar .albumInfo #album-contents .item {
  padding: 2px 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #aaaaaa;
  cursor: pointer;
  max-height: 4.2em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.node-type-cudl-photo-album
  .region-sidebar
  .albumInfo
  #album-contents
  .item.first {
  border-top: none;
}
.node-type-cudl-photo-album
  .region-sidebar
  .albumInfo
  #album-contents
  .item.last {
  border-bottom: none;
}
.node-type-cudl-photo-album
  .region-sidebar
  .albumInfo
  #album-contents
  .item:hover {
  background-color: #e0f5c4;
}
.node-type-cudl-photo-album
  .region-sidebar
  .albumInfo
  #album-contents
  .item
  .title {
  padding: 0px 1em;
}
.node-type-cudl-photo-album
  .region-sidebar
  .albumInfo
  #album-contents
  .item.active {
  background-color: #bbcca3;
}

#albumcontainer {
  position: relative;
  width: 100%;
  height: 70vh;
  margin-bottom: 16px;
}

#about-page h2 {
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.15em;
  font-weight: normal;
  text-align: center;
  padding: 0.5em 1em;
  line-height: 1.2em;
  margin: 0 0 0.5em 0;
  background-color: #4b701c;
}
#about-page .panel {
  border: 1px solid #4b701c;
  background-color: #ffffff;
}
#about-page .panel h2 {
  margin: 0;
  font-size: 1em;
}
#about-page .panel .inner {
  padding: 0 0 10px 0;
}
#about-page .item {
  padding: 0px 1em;
}
#about-page .item .label {
  margin: 8px 0 2px 0;
  display: block;
  font-weight: bold;
}
#about-page .item .value {
  display: block;
}
#about-page .item p {
  margin: 0;
}

#about-photo {
  clear: both;
  margin: 1em 0;
}
#about-photo h3 {
  color: #4b701c;
  margin: 1em 0 0.5em 0;
}
#about-photo > div {
  border: 1px solid #4b701c;
  padding: 10px;
}

/*# sourceMappingURL=cudl_album.css.map */
